[% BLOCK sys_form %]
[% UNLESS NO_FORM %]
<form action="usersys.cgi" method="post">
[% END %]
<div class="defaultForm" style="[% style %]">
<table>



       [% UNLESS no_name %]
       <tr>
		<td>Name:</td>
		<td><input type="text" name="sys.name" value="[% sys.name | html %]" />
		</td>
       </tr>
       [% END %]

       [% FOREACH p IN sys.params %]
		[% IF p.value.required %]
	               [% INCLUDE element %]
		[% END %]
       [% END %]
       <tr>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
       </tr>
       [% FOREACH p IN sys.params %]
		[% UNLESS p.value.required %]
	               [% INCLUDE element %]
		[% END %]
       [% END %]

</table>
<p>
	[% content %]
       <input type="hidden" name="action" value="[% action %]" />
       [% IF btn_value.defined %]
       	<input type="submit" value="[% btn_value %]" />
	[% END %]
</p>
</div>
[% UNLESS NO_FORM %]
</form>
[% END %]
[% END %]

[% BLOCK element %]

       <tr>
               <td>[% p.key | ucfirst | html %]:</td>
               <td>
                       <input type="[% IF p.key == "password"; "password"; ELSE; "text"; END %]"
                              value="[% p.value.value | html IF p.key != "password" %]"
                              name="sys.params.[% p.key | html %]" />

                       [% IF p.value.note.defined %]
                               <span style="font-size : x-small; font-style : italic;">
                                       [% p.value.note | html %]
                               </span>
                       [% END %]

			[% UNLESS p.value.required %]
		               [% INCLUDE is_optional %]
        		[% END %]

               </td>
       </tr>

[% END %]

[% BLOCK is_optional %]
	<span style="font-size : x-small; font-style : italic;" />
		(optional)
	</span>
[% END %]
