[% INCLUDE 'header.html' title = 'User systems' %]
[% PROCESS 'common_widgets.html' %]
[% USE Dumper %]
[% USE HTML %]


<h1>User system integration</h1>

[% IF ok.defined %]
	[% WRAPPER 'tpl_msg.html' type="success" %]
		[% ok | html %]
	[% END %]
[% END %]
[% IF error.defined %]
	[% WRAPPER 'tpl_msg.html' type="error" %]
		[% error | html %]
	[% END %]
[% END %]
[% PROCESS pretty_button
        text = "Add new system"
	icon = "edit_add"
	view = "add"
	action = "usersys.cgi"
%]


[% IF systems.size %]
	[% PROCESS system_table
		systems = systems %]
[% ELSE %]
	<p>No user system integrated.</p>
[% END %]

[% INCLUDE 'footer.html' %]

[% BLOCK system_table %]
	[% WRAPPER 'template_table.html' class="hovering"
		header = ['', 'System', 'Type', 'Users', '' ] style='width : 80%' %]

		[% SET color = 0 %]
		[% FOREACH s IN systems %]
			[% WRAPPER 'template_table_row.html' error = s.user_count_error %]
				[% PROCESS list_row
					system = s %]
			[% END %]
			[% color = 1 - color %]
		[% END %]
	[% END %]

[% END %]

[% BLOCK list_row %]
	[% SET conn = system.connector %]
	<td style="width : 40px;"><img src="file.cgi?i=agt_family" alt="" /></td>
	<td>[% system.name | html %]</td>
	<td>[% system.type | html %]</td>
	<td>[% HTML.escape(system.user_count_error) || system.user_count %]</td>
	<td style="text-align : right;">
        <ul class="vertical_buttons">

		<li><a href="usersys.cgi?view=edit&amp;id=[% system.id %]">Edit</a></li>

	[% IF system.is_primary %]
		<li
		style="border : 0; background : 0;"
		><strong>Primary system</strong></li>
	[% ELSE %]
		<li><a href="usersys.cgi?view=map&amp;id=[% system.id %]">Map</a></li>
	[% END %]

	<li><a href="usersys.cgi?view=del&amp;id=[% system.id %]">Delete</a></li>

	[% UNLESS system.is_primary %]
		<li><a href="usersys.cgi?view=makeprimary&amp;id=[% system.id %]">Make primary</a></li>
	[% END %]
	</td>
[% END %]

