[% INCLUDE 'header.html' title='Add share' %]
[% INCLUDE 'template_collection_warnings.html' %]
[% PROCESS 'template_edit_blocks.html' %]

[% IF success %]
	[% WRAPPER 'template_message.html'
		type = 'success' %]
		Share has been added.
		
		[% IF result_id.defined %]
			<br /><br />Return back to 
				<a href="scan.cgi?action=process&amp;id=[% result_id %]">scan results</a>
		[% END %]
		
	[% END %]
[% END %]
<h2>
[% IF success %]
	<h2>Add a new collection (part 1 of 2)</h2>
[% ELSIF from_scan %]
	[% #Adding a result from scan %]
	<h2>Add a collection from scan - Part 1 of 2</h2>
[% ELSE %]
	<h2>Add a collection - Part 1 of 2</h2>

	[% WRAPPER 'template_message.html' 
	type = 'info'%]
	There are two parts in adding a new share. 
	<ol>
		<li>Specify what type of connector the collection uses, name the collection.<br />
			<div style="text-size : x-small;">
			<ul>
				<li><a href="help.cgi?topic=connectors">What are the different connectors?</a></li>
				<li><a href="help.cgi?topic=asdf">What is collection name?</a></li>
		</ul></div>
		<li>Add more details on how to how to crawl it, and other crawling behaviour.</li>
	</ol>

	[% END %]
[% END %]




<form action="add.cgi" method="post">

[% WRAPPER 'template_table.html'
	header = ['', 'Connector', 'Collection name'] %]
	[% color = 1 %]
	[% WRAPPER 'template_table_row.html' %]
		<td style="width : 64px;"><img src="file.cgi?i=yast_nfs&amp;size=48x48" alt="" style="border : 0px solid;" /></td>
		<td>
		[% PROCESS connectors
			use_radio_buttons = 0
		 %]
		</td>
		<td>
			[% collection_name = share.collection_name %]
			<input type="text" name="share.collection_name" value="[% collection_name %]" />
				<span style="font-size : x-small;">(Recommended)</span><br />
		</td>	
	[% END %]

[% END %]

<div style="margin-top : 1em;">
[% IF share.host %]<input type="hidden" value="[% share.host %]" name="share.host" />[% END %]
[% IF share.path %]<input type="hidden" value="[% share.path %]" name="share.path" />[% END %]
[% IF share.resource %]<input type="hidden" value="[% share.resource %]" name="share.resource" />[% END %]
[% IF share.auth_id %]<input type="hidden" value="[% share.auth_id %]" name="share.auth_id" />[% END %]
[% IF from_scan %]<input type="hidden" value="[% from_scan %]" name="from_scan" />[% END %]

<input type="submit" name="submit_first_form" value="Continue to details ->" />
</div>
</form>
[% INCLUDE 'footer.html' %]
