[% INCLUDE 'header.html' title = 'Logs' %]
[% USE HTML %]

[% PROCESS 'template_tabs.html' 
	tabs = [
	{
		'name' => 'Log files',
		'url' => 'logs.cgi'
		'selected' => 1
	},
	{
		'name' => 'Search log',
		'url' => 'logs.cgi?view=search',
		'selected' => 0,
		
	}]
%]

<h2>View logs</h2>

<form action="logs.cgi" method="get">
[% WRAPPER 'template_table.html'
	header = ['', 'Filename', 'Description', 'Size', ''] %]

[% i = 0 %]
[% FOREACH logs %]
	[% color = 1 - color %]
	[% WRAPPER 'template_table_row.html' %]
		<td><input type="radio" name="log.name" value="[% HTML.escape(filename) %]"
			id="log_checkbox_[% i %]"
			[% IF logfile.filename == filename %]
				checked="checked"
			[% END %] /></td>
		<td><label for="log_checkbox_[% i %]">[% HTML.escape(filename) %]</label></td>
		<td><label for="log_checkbox_[% i %]">[% HTML.escape(description) %]</label></td>
		<td>[% size.0 %] [% size.1 %]</td>
		<td style="text-align: right;"><a href="download.cgi?logfile=[% filename %]">Download</a></td>
	[% END %]
	[% i = i + 1 %]
[% END %]
[% END %]

<div style="margin-top: 1em; margin-left: 1em;">
	[% logsize = logfile.lines.size %]
	Show the last 
		<select name="log.lines">
			[% FOREACH count IN [50, 100, 250, 500] %]
			<option 
				[% IF logsize == count 
					or (!logsize and count == 100)
				%]
					selected="selected"
				[% END %]>[% count %]</option>
			[% END %]
		</select> lines.<br />

	<input type="submit" name="view_log" value="Show log" />
</div>

</form>

[% IF logfile %]
	[% UNLESS logfile.filename %]
		[% WRAPPER 'template_info.html' %]
			You forgot to select which logfile to view
		[% END %]
	[% ELSE %]
		<h2>Showing [% logfile.filename %]</h2>
	
		[% IF logfile.lines.size %]
			
			[% WRAPPER 'template_info.html' %]
				Showing last [% logfile.lines.size %] messages in [% logfile.filename %].
			[% END %]
	
			<!--<div style="background-color : #DCE4F9; font-family : monospace; 
					font-size : small; border : 1px solid; margin-top : 1em; margin-bottom: 1em;">-->

			<div style="font-familiy : monospace; font-size : small;">
			<ol>
			[% FOREACH message IN logfile.lines %]
				[% color = 1 - color %]
				<li>
				[% IF color %]<div>
				[% ELSE %]<div style="background : #f2f2f2"> [% END %]
				[% HTML.escape(message) %] </div></li>
				
				
				
			[% END %]
			</ol>
			</div>
	
		[% ELSE %]
			The logfile is empty.
		[% END %]
	[% END %]
[% END %]

[% INCLUDE 'footer.html' %]
