[% INCLUDE 'header.html' title = 'Logs' %]
[% USE HTML %]

[% PROCESS 'template_tabs.html' 
	tabs = [
	{
		'name' => 'Log files',
		'url' => 'logs.cgi'
		'selected' => 1
	},
	{
		'name' => 'Search log',
		'url' => 'logs.cgi?view=search',
		'selected' => 0,
		
	}]
%]

<h2>View logs</h2>

<form action="logs.cgi" method="get">
[% WRAPPER 'template_table.html'
	header = ['', 'Description', 'Filename', 'Size', ''] %]

[% i = 0 %][% Dumper.dump(loglist) %]
[% FOREACH log IN loglist %]
	[% color = 1 - color %]
        [% selected = (logfile.filename == log.filename) %]
	[% WRAPPER 'template_table_row.html' selected = selected %]
            <td><img src="file.cgi?i=log" alt="" /></td>
            <td>
                <strong>[% HTML.escape(log.description) %]</strong>
            </td>
            <td>[% HTML.escape(log.filename) %]</td>
            <td>[% log.size.0 %][% log.size.1 %]</td>
            <td>
                <ul class="vertical_buttons">
                    <li><a href="logs.cgi?log=[% log.filename %]&lines=[% lines %]">View</a></li>
                    <li><a href="download.cgi?logfile=[% log.filename %]">Download</a></li>
                </ul>
                        
            </td>
	[% END %]
	[% i = i + 1 %]
[% END %]
[% END %]

[% IF logfile %]
    <div style="margin-top: 1em; margin-left: 1em;">
	Lines to show:
        <ul class="vertical_buttons" style="display : inline;">
	    [% FOREACH count IN [50, 100, 250, 500] %]
            <li>
                [% IF lines == count %]
                        [% count %] lines
                [% ELSE %]
                <a href="logs.cgi?log=[% logfile.filename %]&lines=[% count %]">[% count %] lines</a>
                [% END %]
                
                </li>
            [% END %]
    </div>
[% END %]

</form>

[% IF logfile %]
	[% UNLESS logfile.filename %]
		[% WRAPPER 'template_info.html' %]
			You forgot to select which logfile to view
		[% END %]
	[% ELSE %]
		<h2>Showing [% logfile.filename %]</h2>
	
		[% IF logfile.content.size %]
			
			[% WRAPPER 'template_info.html' %]
				Showing last [% logfile.lines.size %] messages in [% logfile.filename %].
			[% END %]
	

			<div style="font-familiy : monospace; font-size : small;">
			<ol>
			[% FOREACH line IN logfile.content %]
				[% color = 1 - color %]
				<li>
				[% IF color %]<div>
				[% ELSE %]<div style="background : #f2f2f2"> [% END %]
				[% HTML.escape(line) %] </div></li>
				
				
				
			[% END %]
			</ol>
			</div>
	
		[% ELSE %]
			The logfile is empty.
		[% END %]
	[% END %]
[% END %]

[% INCLUDE 'footer.html' %]
