[% INCLUDE 'header.html' title = 'Authentication' %]

[% IF success_insert_pair %]
	[% WRAPPER 'template_message.html' type='success' %]
		Username/password pair has been added.

	[% END %]
[% ELSIF success_delete_pair %]
	[% WRAPPER 'template_message.html' type='success' %]
		Username/password pair deleted.
	[% END %]
[% ELSIF success_submit_changes %]
	[% WRAPPER 'template_message.html' type='success' %]
		Username/password have been updated.
	[% END %]
[% ELSE %]
	[% WRAPPER 'template_message.html' type='info' %]
		You may wish to use the same username and password for many collections.<br />
		For convenience, it's possible to create username/password pairs here to ease
		the data input when adding new collections.
	[% END %]
[% END %]

<h1>Existing authentication</h1>
	<p>
	<form method="get" action="authentication.cgi">
		<input type="submit" value="Add a new username" name="add_new_pair" />
	</form>
	</p>
[% IF authentication.size %]
	[% WRAPPER 'template_table.html' style = 'width : 70%; margin-top : 1em;'
		header = ['', 'Username', 'Comment', ''] %]
		[% i = 0 %]
		[% FOREACH pair IN authentication %]
			[% color = 1 - color %]
			[% WRAPPER 'template_table_row.html' %]
			<td style="width : 40px;">
				<img src="file.cgi?i=personal" alt="" style="border : 0px solid;" />
			</td>
			<td>[% pair.username %]</td>
                        <td>[% pair.comment %]</td>
			<td style="text-align : right;">
                            <ul class="vertical_buttons">
                                <li><a href="authentication.cgi?show=edit&id=[% pair.id %]">Edit</a></li>
                                <li><a href="authentication.cgi?show=delete&id=[% pair.id %]">Delete</a></li>
                            </ul>
			</td>
			
			[% END %]
			[% i = i + 1 %]
		[% END %]
	[% END %]
[% ELSE %]
	<p>
		You've yet to create a username and password pair.
	</p>
[% END %]
[% INCLUDE 'footer.html' %]
