[% INCLUDE 'header.html' title = 'Connector extensions' %]
[% PROCESS 'common_widgets.html' %]
[% USE Dumper %]
[% USE HTML %]

[% PROCESS 'conn_tabs.html' 
	selected = selected %]

<h1>[% connector_name %] extensions</h1>
[% IF error %]
    [% WRAPPER 'tpl_msg.html' type="error" %][% error %][% END %]
[% END %]
[% IF delete_ok %]
    [% WRAPPER 'tpl_msg.html' type="success" %]
    Connector [% HTML.escape(delete_ok) %] was deleted.
    [% END %]
[% END %]

[% WRAPPER pretty_button 
		icon = "edit_add"
		action = "?"
                text = "Create a new connector"
		act  = "new"
		method = "post"
                name = "btn.new"  %]
<input type="hidden" name="conntype" value="[% conntype %]" />
		[% END %]


   
<h2>Local connectors</h2>
[% IF local_connectors.size %]
	[% PROCESS connector_list
		connectors = local_connectors
		buttons = [ 
			{ show   => 'edit', name => 'Modify' },
			{ act => 'clone', name => 'Clone' },
			{ show   => 'del', name => 'Delete' },
		] 
	%]
[% ELSE %]
	<p>No local connectors created</p>
[% END %]

<h2>Official connectors</h2>
[% IF sd_connectors.size %]
	[% PROCESS connector_list 
		connectors = sd_connectors
		buttons = [
			{ show => 'edit', name => 'View' },
			{ act => 'clone', name => 'Clone' }
		]
	%]
[% ELSE %]
	<p>No official connectors installed.</p>
[% END %]


[% INCLUDE 'footer.html' %]

[% BLOCK connector_list %]
    [% WRAPPER 'template_table.html' style = 'width : 80%;'
    	class = "hovering"
            header = ['', 'Name', 'Last modified', '', ''] %]
        [% color = 1 %]
        [% FOREACH c IN connectors %]
            [% WRAPPER 'template_table_row.html' %]
                <td style="width : 64px;"><img src="file.cgi?i=[% IF c.active %]connect_creating[% ELSE %]connect_no[% END %]&amp;size=32x32" alt="" /></td>
                <td>[% HTML.escape(c.name) %]</td>
                <td>[% c.modified %]</td>
                <td>[% IF c.active; "Active"; ELSE; "Disabled"; END %]</td>
                <td>
   			<ul class="button_list">
			[% FOREACH b IN buttons %]
				[% IF b.show %]
					[% SET param = "show=$b.show" %]
				[% ELSE %]
					[% SET param = "act=$b.act" %]
				[% END %]
                        	<li><div><a href="?[% param %]&amp;connid=[% c.id %]&amp;conntype=[% conntype %]">[% b.name %]</a></div></li>
			[% END %]
                	</ul>
                </td>
            [% END %]
            [% color = 1 - color %]
        [% END %]

    [% END %]
[% END %]

