[% INCLUDE 'header.html' title = 'Connector extensions' %]
[% USE Dumper %]
[% USE HTML %]

<h2>Connector extensions</h2>
[% IF error %]
    [% WRAPPER 'tpl_msg.html' type="error" %][% error %][% END %]
[% END %]
[% IF delete_ok %]
    [% WRAPPER 'tpl_msg.html' type="success" %]
    Connector [% HTML.escape(delete_ok) %] was deleted.
    [% END %]
[% END %]
    
<div class="textNewLarge">
    <img src="file.cgi?size=22x22&amp;i=edit_add" alt="new" />
    <a href="connector.cgi?act=new">Create a new connector</a>
</div>

<h2>Local connectors</h2>
[% IF local_connectors.size %]
	[% PROCESS connector_list
		connectors = local_connectors
		buttons = [ 
			{ show   => 'edit', name => 'Modify' },
			{ act => 'clone', name => 'Clone' },
			{ show   => 'del', name => 'Delete' },
		] 
	%]
[% ELSE %]
	<p>No local connectors created</p>
[% END %]

<h2>SD Connectors</h2>
[% IF sd_connectors.size %]
	[% PROCESS connector_list 
		connectors = sd_connectors
		buttons = [
			{ show => 'edit', name => 'View' },
			{ act => 'clone', name => 'Clone' }
		]
	%]
[% ELSE %]
	<p>No Searchdaimon connectors installed.</p>
[% END %]


[% INCLUDE 'footer.html' %]

[% BLOCK connector_list %]
    [% WRAPPER 'template_table.html' style = 'width : 80%;'
            header = ['', 'Name', 'Last modified', '', ''] %]
        [% color = 1 %]
        [% FOREACH c IN connectors %]
            [% WRAPPER 'template_table_row.html' %]
                <td><img src="file.cgi?i=[% IF c.active %]connect_creating[% ELSE %]connect_no[% END %]&amp;size=32x32" alt="" /></td>
                <td>[% HTML.escape(c.name) %]</td>
                <td>[% c.modified %]</td>
                <td>[% IF c.active; "Active"; ELSE; "Disabled"; END %]</td>
                <td>
   			<ul class="button_list">
			[% FOREACH b IN buttons %]
				[% IF b.show %]
					[% SET param = "show=$b.show" %]
				[% ELSE %]
					[% SET param = "act=$b.act" %]
				[% END %]
                        	<li><div><a href="connector.cgi?[% param %]&connid=[% c.id %]">[% b.name %]</a></div></li>
			[% END %]
                	</ul>
                </td>
            [% END %]
            [% color = 1 - color %]
        [% END %]

    [% END %]
[% END %]

