[% WRAPPER 'header.html' 
    title = 'Connector extension - Modify and test' 
    extra_css = ['connector'] 
    extra_js = ['jquery', 'ui.core', 'ui.tabs', 'connector', 'utils', 'dump'] 
%]

[% USE HTML %]
[% USE Dumper %]
    
    <script type="text/javascript">
    //<![CDATA[

    connid = [% conn.id || "null" %];
    conntype = [% conntype %];
    selected_tab = [% selected_tab || 0 %]
    test_id = null;
    
        
    $(document).ready(function() { 
        colorParamTable(); 
        loadCfgHTML();
	loadParamTable();
    
        /**
        * Edit -> Save source
        */
        $('#sourceBtn').click(function () { saveSource(this) });
        $('#sourceRunBtn').click(function () {
            saveSource(this, true);
            $('#connContainer > ul').tabs("select", 4);
            $('#runBtn').click();
        });
        
        $('#saveNameBtn').click(function() {
            var params = getDefaultParams();
            var new_name = $('#saveName').val();
            params['data'] = { 
                api : 'save_name', 
                'save.name' : new_name,
                connid : connid,
		conntype : conntype
            };
            params['success'] = function(resp) {
				if (resp['error']) {
					setError(resp['error']);
					return;
				}
				setError(null);
                $('#connHeading').fadeOut(100).html("Connector " + new_name).fadeIn(100);
            };
            $.ajax(params);
        });

        /**
        * Save: Save `tready for use' and 'input field' options.
        */
        $('.saveTrigger').click(function() {
            var params = getDefaultParams();
            var toggle_checkbox = function(elem) {
                if ($(elem).is(':checked')) 
                    $(elem).removeAttr('checked');
                else 
                    $(elem).attr('checked', 'checked');
            }

            params['data'] = {
                'save.active'   : $("#saveActive:checked").val() == null ? 0 : 1,
                api      : 'save_attr',
                connid   : connid,
		conntype : conntype
            };
            $.each($('[@name^="field"]:checked'), function(index, obj) {
                params['data']['save.' + $(obj).attr('name')] = 1;
            });
            params['success'] = null;
            params['complete'] = function(x) {
                loadCfgHTML();
                completeFunc(x);
            };
            var elem = $(this);
            params['success'] = function(resp) {
                if (resp['error']) {
                    setError(resp['error']);
                    toggle_checkbox(elem);
                }
            };
            params['error'] = function() {
                toggle_checkbox(elem);
                                errorFunc();
            };
                
            $.ajax(params);
        });

        /**
        * Save -> Add parameter
        */
        $('#addParamBtn').click(function () {
		
		var data = { };
		
		$(".connectorParam").each(function() {
			var name = $(this).attr('name');
                	if ($(this).is(':checked')) { // checkbox
				data[name] = 1;
			}
			else {
				data[name] = $(this).attr('value');
			}
		});


            if (!data['param.param'].length) {
                setError("Parameter name is missing");
                return;
            }
            $(this).attr("disabled", "disabled").html("Adding...");

	    data['connid'] = connid;
	    data['api'] = 'param_add';
		data['conntype'] = conntype;

            var ajax_params = getDefaultParams();
            ajax_params['data'] = data;
	    ajax_params['success'] = function (resp) {
                if (resp['error']) {
                    setError(resp['error']);
                    return;
                }
		setMsg(null, null);
                $('.connectorParam').val('').removeAttr('checked');
                var id = resp['param_id'];

		loadParamTable();
                loadCfgHTML();
            };
            ajax_params['complete'] = function(x) {
                $('#addParamBtn').removeAttr("disabled").html("Add parameters");
                completeFunc(x);
            };
            $.ajax(ajax_params);
        });

    });

	function loadParamTable() {
		//var tbl = $('#paramTable').html("what");

		var rows = "";


		var params = getDefaultParams();
		$('#paramLoading').show();
		$('#paramTable').hide();

		params['data'] = { 
			api : 'param_list', 
			connid : connid ,
			conntype : conntype
		};
		params['success'] = function(resp) { 
			var tbl = $("#paramTable");
			if (!resp['parameters'] || !resp['parameters'].length) {
				$(tbl).html("<tr><td></td></tr>").hide(200);
				return;
			}
			headings = Array('Parameter');
			$.each(resp['parameters'], function(i, p) {
				rows += "<tr><td>" + escapeHTML(p['param']) + "</td>";

				for (var key in p) {
					if (key == "param" || key == "id")
						continue;
					if (i == 0)
						headings.push(key.charAt(0).toUpperCase() + key.slice(1)); // ucfirst
					rows += "<td>" + escapeHTML(p[key]) + "</td>";
				}
				
				var delID = p['id'] || escapeHTML(p['param']);
				rows += '<td style="text-align : right;"><button '
					+ "onclick=\"return delParam('" + delID + "')\">"
					+ 'Remove</button></td>';
				rows += "</tr>";

			});

			var th = "<tr>";
			$(headings).each(function(i, h) {
				th += "<th>" + escapeHTML(h) + "</th>";
			});
			th += "<th>&nbsp;</th>";
			th += "</tr>";
			$(tbl).html(th + rows).css('display', ''); // show() loses css attr width
			colorParamTable();

		};
		params['beforeSend'] = null;
		params['complete'] =  function(x) {
			$('#paramLoading').hide();
		};
		$.ajax(params);
	}


    function saveSource(btn, hideSuccs) {
            var origHTML = $(btn).html();
            $(btn).attr("disabled", "disabled").html("Saving..");

            var params = getDefaultParams();
            params['type'] = "POST";
            params['data'] = { 
                    api : 'edit', 
                    connid : connid, 
			conntype : conntype,
                    'edit.source' : $("#editCode").val()
            };
            params['complete'] = function(x) {
                $(btn).removeAttr("disabled").html(origHTML);
                completeFunc(x);
            }
	    if (hideSuccs) {
	    	params['success'] = function(resp) {
 			if (resp['error']) 
                    		setError(resp['error']);
                };
	    }
                
            $.ajax(params);
    };



    /**
    * Save -> Parameter remove
    */
    function delParam(id) {
        $(this).attr("disabled", "disabled").html("Removing...");

        var params = getDefaultParams();
        params['data'] = {
            api        : 'param_del',
            'param.id' : id,
            connid : connid,
		conntype : conntype
        };
        params['success'] = function(resp) {
            if (resp['error']) {
                setError(resp['error']);
                return;
            }
	    setMsg(null);

            $("#param_row_" + id).fadeOut(200, function() { 
                $(this).remove(); 
                colorParamTable();
            });
            loadCfgHTML();
	    loadParamTable();
        };

        $.ajax(params);
    }

    function colorParamTable() { colorTable('paramTable'); }

    function runTest(testMethod) {
	    var btn = $("#runBtn");
	    $(btn).attr("disabled", "disabled").html("Running...");
	    $('.testrunInner').html('<pre></pre>'); 
	    data = {
		api : 'test_run',
		conntype : conntype,
      		connid : connid
	    };
	    if (testMethod)
		    data['method'] = testMethod;

	    $.each($('.testParam'), function (index, obj) {
		data['params.' + index] = $(obj).val();
	});

            var params = getDefaultParams();
            params['data'] = data;

            params['success'] = function(resp) { 
                if (resp['error'] || !resp['test_id']) {
                    setError(resp['error'] || "Got no 'test_id");
                    $(btn).removeAttr("disabled").html("Run test");
                }
                else {
                    test_id = resp['test_id'];
                    $('#refreshBtn').removeAttr("disabled");
                    $('#killBtn').removeAttr("disabled");
                    startRefreshInterv();
                }
		if (resp['output'] && $('.testresultsInner')) {
   			$('.testresultsInner').html('<pre>' + resp['output']  + '</pre>'); 

		}
            };
            params['error'] = function() { 
                $(btn).removeAttr("disabled").html("Run test");
                errorFunc();
            };
                

            $.ajax(params);

	
    }


    // Testing
        $(document).ready(function() { 


        /**
        * Refresh run output
        */
        $('#refreshBtn').click(function() {
            refreshOutput();
        });

        /**
        * Kill crawl
        */
        $('#killBtn').click(function() {
            $('#killBtn').attr("disabled", "disabled");

            var params = getDefaultParams();
            params['data'] = {
                api : 'test_kill',
                connid : connid,
                test_id : test_id,
		conntype : conntype
            };
            params['complete'] = function(x) { 
                $('#killBtn').removeAttr("disabled");
                completeFunc(x);
            };

            $.ajax(params);
        });
    });

function refreshOutput() {
    var params = getDefaultParams();
    params['data'] = {
        api : 'test_output',
        test_id : test_id,
        connid : connid,
		conntype : conntype
    };

    var refreshErrorFunc = function(errmsg) {
        clearInterval(refreshInterval);
        setError(errmsg);
        $('#runBtn').removeAttr("disabled").html("Run test");
        $('#runStatus').html("");
    }


    params['success'] = function(resp) {
        if (resp['error']) { 
            refreshErrorFunc(resp['error']);
        }
        else {

            // ie didn't want to replace pre contents directly.
            $('.testrunInner').html('<pre>' + resp['output']  + '</pre>'); 

            if (resp['crawl_done']) {
                clearInterval(refreshInterval);
                $('#refreshBtn').attr("disabled", "disabled");
                $('#killBtn').attr("disabled", "disabled");
                $('#runBtn').removeAttr("disabled").html("Run test");
                $('#runStatus').html("Crawl is not running.");
            }
            else {
                $('#runStatus').html("Crawl is running..");
                $('#refreshBtn').removeAttr("disabled");
            }
        }
    };

    params['error'] = function() { refreshErrorFunc(null); }
    $.ajax(params);
}


var refreshInterval;
function startRefreshInterv() {
    var sec = 3 * 1000;
    refreshInterval = window.setInterval(refreshOutput, sec);
}

function loadCfgHTML() {
    var params = getDefaultParams();
    $('#cfgLoading').show();
    $('#configureInner').html('');

    params['data'] = { 
        api : 'test_cfg_html', 
        connid : connid ,
		conntype : conntype
    };
    params['success'] = function(resp) { 
        $('#configureInner').hide().html(resp['html']).fadeIn(200);
        activateApplyBtn();
    };
    params['beforeSend'] = null;
    params['complete'] =  function(x) {
        $('#cfgLoading').hide();
    };
    $.ajax(params);
}

function activateApplyBtn() {
        $('#applyBtn').click(function() {
                $(this).attr("disabled", "disabled").html("Saving..");

		var inputs = $("[name^=sys]").add("[name^=share]");
	
		var data = { };
		var fetchers = [
			":text", // text fields
			":password", // passwd fields
			":radio:checked", // radio buttons
			":checkbox:checked" // checkboxes
		];
		$.each(fetchers, function (i, expr) {
			$.each(inputs.filter(expr), function(i, obj) {
				data[$(obj).attr('name')] = $(obj).val();
			});
		});

		// select fields
		$.each(inputs.filter('select'), function (i, obj) {
			data[$(obj).attr('name')] = $(obj).children(':selected').val();
		});


                /*// text fields
                $.each($('[@name^="share"]:text'), function (index, obj) { 
                    //alert($(obj).attr('name') + " - " + $(obj).val());
                    coll_data[$(obj).attr('name')] = $(obj).val();
                });

		// password fields
                $.each($('[@name^="share"]:password'), function (index, obj) { 
                    coll_data[$(obj).attr('name')] = $(obj).val();
                });

                // radio buttons
                $.each($('[@name^="share"]:radio:checked'), function (index, obj) {
                    coll_data[$(obj).attr('name')] = $(obj).val();

                });

                // checkboxes
                $.each($('[@name^="share"]:checkbox:checked'), function (index, obj) {
                    coll_data[$(obj).attr('name')] = $(obj).val();
                });*/
		/*$.each($('select').filter('[@name^="share"]'), function(index, obj) {
			var name = $(obj).attr('name');
			var val;
			val = $(obj).children(':selected').val();
                    	coll_data[name] = val;
		});*/

		{ // crawler connector specific.
                	var auth_id = $('[@name="share.auth_id"]').val();
                	if (auth_id) 
                    		data['share.auth_id'] = auth_id;
		}
                
		var params = getDefaultParams();
                params['data'] = data;
                params['data']['api'] = 'test_apply';
                params['data']['connid'] = connid;
		params['data']['conntype'] =conntype;
                
                params['complete'] = function(x) {
                    $('#applyBtn').removeAttr("disabled").html("Apply configuration");
                    completeFunc(x);
                }
                $.ajax(params);

            });
    }


//]]>

</script>

[% PROCESS testrun_javascript  %]

[% END %]

    <h1 id="connHeading">Connector [% conn.name %] [% '(read only)' IF conn.read_only %]</h1>

<div id="connContainer">
    <ul>
	[% UNLESS conn.read_only %]
        <li><a href="#upload"><span>Upload source</span></a></li>
	[% END %]
        <li><a href="#edit"><span>[% IF conn.read_only; 'View'; ELSE; 'Edit'; END %] source</span></a></li>
        <li><a href="#save"><span>Settings and parameters</span></a></li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="#configure"><span>Configure test collection</span></a></li>
        <li><a href="#run"><span>Run test</span></a></li>
    </ul>
    <img src="file.cgi?i=jqueryloader&amp;ext=gif&amp;size=other" alt="loading" id="loading" />

[% PROCESS 'tpl_msg.html' type="info" discreet=1 id="msg" style="display : none;" %]
<div style="margin-top : -0.5em;">
    [% PROCESS upload UNLESS conn.read_only %]
    [% PROCESS edit %]
    [% PROCESS save %]
    [% PROCESS configure %]
    [% PROCESS test_run %]
</div>
</div>

[% INCLUDE 'footer.html' %]


[% BLOCK upload %]
<div class="connectorBlock" id="upload">
    <h3>Upload</h3>
    <form method="post" enctype="multipart/form-data" action="connector.cgi">
    <p>
        <input type="hidden" name="act" value="upload" />
        <input type="hidden" name="connid" value="[% conn.id %]" />
        <input type="file" name="upload.file" />
        <input type="submit" value="Upload" />
    </p>
    </form>

</div>
[% END %]

[% BLOCK edit %]

<div class="connectorBlock" id="edit">
    	<h3>
		[% IF conn.read_only; 'View'; ELSE; 'Edit'; END %] source
	</h3>
    <p>
        <textarea id="editCode" rows="15" cols="80" style="width : 100%; height : 30em;">[% conn.source | html %]</textarea>
    </p>
    [% UNLESS conn.read_only %]
    <p>
        <button id="sourceBtn">Save</button>&nbsp;
        <button id="sourceRunBtn">Save and run</button>
    </p>
    [% END %]
</div>

[% END %]

[% BLOCK save %]

<div class="connectorBlock" id="save">

    <h3>Settings</h3>
    <table class="inputTable">
    <tr>
        <td>Name</td>
        <td><input type="text" id="saveName" value="[% HTML.escape(conn.name) %]" [% 'disabled="disabled"' IF conn.read_only %]
		/>[% UNLESS conn.read_only %]&nbsp;<button id="saveNameBtn">Update</button>[% END %]</td>
    </tr>
    <tr>
        <td>Ready for use?</td>
        <td><input type="checkbox" id="saveActive" [% IF conn.active %]checked="checked"[% END %] class="saveTrigger" 
		[% IF conn.read_only %] disabled="disabled" [% END %]/></td>
    </tr>
    </table>

	[% PROCESS save_extras IF has_save_extras %]

    <h3>Parameters</h3>
    <div style="margin-bottom : 1em;">
    <table class="inputTable">
    <tr>
        <td>Parameter name</td>
        <td><input id="newParamName" name="param.param" style="width : 120px;" type="text" class="connectorParam"
		    [% 'disabled="disabled"' IF conn.read_only %]
		/></td>
    </tr>
    	[% FOREACH p IN additional_param %]
		<tr>
			<td>[% p.title %]</td>
			<td><input class="connectorParam" name="param.[% p.name %]"
				[% 'disabled="disabled" ' IF conn.read_only %]
				[% "type=\"$p.input_type\" " IF p.input_type %]
				/>
			</td>
    		</tr>
	[% END %]
    </table>
    <button id="addParamBtn" 
		    [% 'disabled="disabled"' IF conn.read_only %]
    	>Add parameter</button>
    </div>
    

    <img src="file.cgi?i=jqueryloader&amp;ext=gif&amp;size=other" alt="loading" id="paramLoading" />
    <table id="paramTable" class="default_table" style="display : none; width : 60%;"><tr><td></td></tr></table>

    </div>
[% END %]

[% BLOCK configure %]
<div class="connectorBlock" id="configure">
    <img src="file.cgi?i=jqueryloader&amp;ext=gif&amp;size=other" alt="loading" id="cfgLoading" />
    <div id="configureInner"></div>
</div>
[% END %]




