[% INCLUDE 'header.html' title = "Scan results" %]
[% IF success_delete_result %]
	[% WRAPPER 'template_message.html'
		type = 'success' %]
		Scan result deleted.
	[% END %]
	
[% END %]

<h2>Scan results</h2>
<div class="textNewLarge">
<img src="file.cgi?size=22x22&amp;i=edit_add" alt="new" /> <a href="scan.cgi?action=new">Start a new scan</a>
</div>

[% i = 0 %]
[% IF results.size %]
	<form action="scan.cgi" method="post">
	[% WRAPPER 'template_table.html' 
		header = ['', 'Range', 'Connector', 'Started', 'Info', ''] %]
	
		[% FOREACH results %]
			[% color = 1 - color %]
			[% WRAPPER 'template_table_row.html' %]
				<td>
					[% IF done %]
					<a href="scan.cgi?action=process&amp;id=[% id %]">
						<img src="file.cgi?i=agt_action_success" alt="Scan done" style="border: 0px solid;" /></a>
					[% ELSE %]
						<img src="file.cgi?i=search" alt="Searching" style="border: 0px solid;" />
					[% END %]
				</td>
				<td>
					[% IF range %]
						[% IF done %]
						<strong><a href="scan.cgi?action=process&amp;id=[% id %]">View results</a></strong> for [% range %]
						[% ELSE %]
							[% range %]
						[% END %]
					[% ELSE %]
						Default range
					[% END %]</td>
				<td>[% connector %]</td>
				<td>[% time %]</td>	
				<td>
				
					[% IF done %]
						The scan has completed.<br />
					[% ELSE %]
						The scan is still running.
					[% END %]
					<br />
				

				<td>	
					[% IF done %]
                                        <ul class="button_list">
                                            <li><div><a href="scan.cgi?action=del_result&amp;id=[% id %]">Delete</a></div></li>
                                        </ul>
					[% END %]
				</td>
			[% END %]
			[% i = i + 1 %]
		[% END %] [% # foreach %]
	[% END %]
	</form>
[% ELSE %]
	[% WRAPPER 'template_info.html' %]There are no unprocessed scan results[% END %]
[% END %]


[% INCLUDE 'footer.html' %]
