[% INCLUDE 'header.html' title = 'Scan for shares' %]
[% PROCESS 'template_edit_blocks.html' %]

[% WRAPPER 'template_message.html'
	type = 'info' %]
	<p>Scan the network to find collections. Leave the range field blank to scan the local subnet. See examples for ranges <a href="help.cgi?topic=ranges">here</a>.
	</p>
	<p>You can specify what username/password the scanner tries to authenticate as. If you specify nothing, it will try the default anonymous login for that connector (for examples <em>guest/guest</em>) for SMB).
	</p>
[% END %]
<h2>Scan for collections</h2>
<div>
<form method="post" action="scan.cgi">

<h3>Scanning behaviour</h3>
[% i = 0 %]
[% WRAPPER 'template_table.html'
	header = ['', 'Connector', 'Range'] %]
	[% color = 1 %]
	[% WRAPPER 'template_table_row.html' %]
		<td style="width : 60px;"><img src="file.cgi?i=yast_nfs_32" alt="" style="0 px solid;" /></td>
		<td> [% PROCESS connectors prefix="scan" %]</td>
		<td><input type="text" name="scan.range" value="213.179.58.120" /></td>
	[% END %]
[% END %]

<h3>Authentication</h3>
[% WRAPPER 'template_table.html'
	header = [''] %]
	[% color = 1  %]
	[% WRAPPER 'template_table_row.html' %]
	<td>
		[% PROCESS 'authentication' prefix='scan' %]
	</td>
	[% END %]
[% END %]

<h3>Advanced</h3>
<div>
	<input type="checkbox" name="scan.use_ping_scan" checked="checked" /> Find hosts with ping scan (faster).
</div>

<div style="margin-top : 1em;">
<input type="submit" name="submit.start_scan" value="Start the scan" />
</div>
</form>
</div>


[% INCLUDE 'footer.html' %]
