[% WRAPPER 'header.html' title="Settings" extra_js=[ 'jquery', 'utils', 'effects.core', 'effects.highlight' ] %]

<script type="text/javascript">
//<![CDATA[

LICENSE_LENGTH = 25;

$(document).ready(function() {

	$("#revertHref").click(function() {
		$("#revertInfo").toggle(200);
		
	});

	$("#licenseKey").keypress(function() { 
			$("#hintSuccess").hide();
			$("#hintFail").hide();
			$("#validHref").show();
	});
	$("#validHref").click(function() {
		checkValidLicense($("#licenseKey").attr('value'));
	})
});

function setLicense(license) {
	$("#licenseKey").attr('value', license);
	$("#licenseKey").effect("highlight", { }, 2000);
	checkValidLicense(license);

}

function checkValidLicense(license) {
	var params = defaultJQueryParams();
	params['data'] = {
		license : license,
		api : "check_license"
	};
	params['url'] = "settings.cgi";
	params['success'] = function(data) {
		$("#validHref").hide();
		data['valid']
			? $("#hintSuccess").css('display', 'inline')
			: $("#hintFail").css('display', 'inline');
	};
	params['error'] = function(data) {
		console.log(data);
	}
	params['beforeSend'] = function() {
		$("#hintSuccess").hide();
		$("#hintFail").hide();
		$("#loading").show();
	}
	params['complete'] = function() {
		$("#loading").hide();
	}
	$.ajax(params);
}

//]]>
</script>
[% END %]
[% PROCESS 'settings_tabs.html' selected="Main settings" %]

[% versions = [
	{
		'value'  => 'production',
		'title' => 'Production',
	},
	{
		'value'  => 'testing',
		'title' => 'Testing',
	},
	{
		'value'  => 'devel',
		'title' => 'Development',
	}
] %]

<div>
	<h2>License</h2>
	[% IF upd_license_success %]
		[% WRAPPER 'template_message.html' type='success' %]
			License updated.
		[% END %]
	[% END %]

	[% IF !license.valid %]
		[% INCLUDE 'tpl_msg.html' discreet = 1 type="warning"
			content = "This installation has no license, or 
			 an invalid license. Search will not work for any users." 
		%]
	[% ELSE %]
		[% IF license.users==0 %]
			<p>Your current license covers unlimited users.</p>
		[% ELSE %]
			<p>Your current license covers [% license.users %] users.</p>
		[% END %]
	[% END %]
		<p>
			<form method="post" action="settings.cgi">
			<div style="display : inline;">
				License: <input id="licenseKey" type="text" value="[% license.key %]" name="license_key" size="35"/> <input type="submit" value="Update" name="submit.update_license" />
			</div>
   			<div style="display : inline; margin-left : 0.5em;">
				<img src="file.cgi?i=jqueryloader&amp;ext=gif&amp;size=other" alt="loading" id="loading" style="width : 16px; height : 16px; display : none;" />
				
				<div class="hintSuccess" id="hintSuccess">
					License is valid.
				</div>
				<div class="hintFail" id="hintFail">
					License is not valid.
				</div>
					<a href="#" id="validHref" style="font-size : x-small; color : #333333;" title="Check if entered license is valid before updating.">Check if valid</a>
			</div>
		
			</form>
		</p>
		<p style="margin-top : 0.5em;">
			<a id="revertHref" href="#" style="color : #333333;">Revert to the basic license?</a>
		</p>
		<p style="margin-top : 0.5em; background : #f1f1f1; padding : 0.5em; display : none;" id="revertInfo">
			You can revert to the basic 10 user license by using the license key 
			<em><a onclick="setLicense('RRYAYACZACJAB6RLANAQ8K4G');" href="#" style="color : #333333;">RRYAYACZACJAB6RLANAQ8K4G</a></em>.
		</p>


</div>

<div>
	
	<h2>Select version</h2>
	
	[% IF dist_succs.defined %]
		[% WRAPPER 'template_message.html' type='success' %]
		Version preference changed to [% dist_succs %].
		[% END %]
<!--
	[% ELSIF dist_downgrade_err %]
            [% WRAPPER 'template_message.html' type='error' %]
            It's not possible to downgrade the system. 
            Can't go from <em>[% dist_downgrade_err.prev %]</em> 
            to <em>[% dist_downgrade_err.new %]</em>.
            [% END %]
-->
        [% ELSIF dist_err %]
            [% WRAPPER 'template_message.html' type='error' %]
                Unable to update version preference. [% dist_err %] 
            [% END %]

        [% ELSE %]
		[% WRAPPER 'template_message.html'
			type='info' %]
			Select what software release version you want to run.
			<ul>
				<li><strong>Production</strong> is the most tested and stable version.</li>
				<li><strong>Testing</strong> is a middle way and contains packages that have not reached production yet.</li>
				<li><strong>Development</strong> is the latest and untested software.</li>
			</ul>
			Only stable is guaranteed to work at all times.
		[% END %]
	[% END %]
	
	<form action="settings.cgi" method="post">
	<ul style="list-style-type : none;">

		[% FOREACH versions %]

		<li>
			<input type="radio" name="dist" 
				value="[% value %]" id="dist_[% value %]" 
				[% IF dist_preference == value %]
					checked="checked"
				[% END %] /> 
			<label for="dist_[% value %]">[% title %]</label>
		</li>
		[% END %]
	</ul>
	<input type="submit" name="submit.dist_select" value="Select version" />
	</form>
</div>

<div id="settings">
    <h2>Administration account password</h2>

    [% IF pass_updated %]
        [% WRAPPER 'template_message.html' type="success" %]
            Password has been updated.
        [% END %]
    [% END %]
    [% IF pass_update_err %]
        [% WRAPPER 'template_message.html' type='error' %]
            Unable to update password. [% pass_update_err %]
        [% END %]
    [% END %]


    <form action="settings.cgi" method="post">
        <table style="border : 0">
            <tr>
                <td>Old password:</td><td><input type="password" 
                    name="passwd.old" value="[% passwd.old %]" /></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>New password:</td>
                <td><input type="password" name="passwd.new" value="[% passwd.new %]" /></td>
            </tr>
            <tr><td>New password (again):</td>
                <td><input type="password" name="passwd.new_rep" value="[% passwd.new_rep %]" /></td>
            </tr>
        </table>
        <input type="submit" name="submit.admin_pass" value="Change password" />
    </form>

</div>

[% INCLUDE 'footer.html' %]
