[% INCLUDE 'header.html' title='Import and export settings' %]

[% PROCESS 'settings_tabs.html' selected="Import and export settings" %]
<div id="settings">
	<h2>Import and export settings</h2>
	
	[% IF import_success.defined %]
		[% IF import_success.success %]
			[% msg = "Settings have been imported." %]
			[% type = 'success' %]
		[% ELSE %]
			[% msg = "Settings could not be imported. <br />
					$import_success.message" %]
			[% type = 'error' %]
		[% END %]
	
		[% WRAPPER 'template_message.html' 
			type = type %]
			[% msg %]
		[% END %]
	[% END %]
	
	<h3>Import settings</h3>
	<form method="post" enctype="multipart/form-data" action="settings.cgi">
			<div style="float : left; position : relative;">
			
				<input name="import_file" type="file" />
				<div style="position : absolute; right : 0; top : 2.5em;">
					<input type="submit" name="submit.import_settings" value="Import settings" />
				</div>
			</div>
	</form>
	
	<h3 style="margin-top : 5em;">Export settings</h3>
	
			<form action="settings.cgi" method="post">
				<input type="submit" name="submit.export_settings" value="Export settings" />
			</form>

[% INCLUDE 'footer.html' %]
