[% INCLUDE 'header.html' title="Collection manager" %]
[% PROCESS 'settings_tabs.html' selected="Collection manager" %]
[% USE date %]

<div id="settings">
	
    <h2>Collection recrawl schedule</h2>
    <p>Set at which time the crawler should run. This setting applies for <b>all collections</b> that is set to be crawled every 24 hours or less frequently.</p>
    [% IF schedule_updated %]
        [% WRAPPER 'template_message.html' type="success" %]
            Schedule settings have been updated.
        [% END %]
    [% END %]
    [% IF schedule_update_err %]
        [% WRAPPER 'template_message.html' type="error" %]
            Unable to update schedule. [% schedule_update_err %]
        [% END %]
    [% END %]
    
        <form action="settings.cgi" method="post">
            <p>
        <label for="use_sched">
            <input type="radio" id="use_sched" name="cm.use_schedule" value="0"
            [% IF !config.recrawl_schedule_start 
                        OR !config.recrawl_schedule_end %]checked="checked"[% END %]
            /> Run recrawl at any time of the day.</label><br />
        <label for="not_use_sched">
            <input type="radio" id="not_use_sched" name="cm.use_schedule" value="1"
                [% IF config.recrawl_schedule_start 
                        AND config.recrawl_schedule_end %]checked="checked"[% END %] />             Only crawl between </label>
                <select name="cm.schedule_start">
                    <option></option>
                    [% FOR i IN [1..24] %]
                        <option value="[% i %]"
                        [% 'selected="selected"' IF i == config.recrawl_schedule_start %]
                        >
                            [% FILTER format('%.2d:00') %][% i %][% END %]
                        </option>
                    [% END %]
                </select>

                and
                <select name="cm.schedule_end">
                    <option></option>
                    [% FOR i IN [1..24] %]
                        <option value="[% i %]" 
                            [% 'selected="selected"' IF i == config.recrawl_schedule_end %]>
                            [% FILTER format('%.2d:00') %][% i %][% END %]
                        </option>
                    [% END %]
                </select>.
                </p>
                <p><input type="submit" name="submit.cm_schedule" 
                        value="Update schedule" />
            </form>
            
	

    <h2>Garbage collection</h2>
        [% IF gc_updated %]
            [% WRAPPER 'template_message.html' type="success" %]
                Garbage collection settings have been updated.
            [% END %]
        [% END %]
        <form action="settings.cgi" method="post">
        <p>
        Run garbage collection every 
        <select name="cm.gc_rate">
        [% FOR i IN [1..60] %]
            [% optvalue = i * 24 * 60 * 60 %]
            <option value="[% optvalue %]" 
                [% 'selected="selected"' IF 
                    optvalue == config.gc_default_rate %]>[% i %]</option>
        [% END %]
        </select> days.
        </p>

        <p>Last garbage collect ran at 
            [% date.format(config.gc_last_run, "%b %e %Y, %H:%M") %].</p>

        <p>
        <input type="submit" name="submit.cm_gc" value="Update setting" />
        </p>
        </form>
[% USE Dumper %]
    <h2>Suggest dictionary rebuild</h2>
    [% IF suggdict_updated %]
            [% WRAPPER 'template_message.html' type="success" %]
                Suggest dictionary rebuild time has been updated.
            [% END %]
        [% END %]
    <form action="settings.cgi" method="post">
    Rebuild suggest dictionary between 
        <select name="cm.suggdict_run_hour">
        [% FOR h IN [1..24] %]
            <option value="[% h %]" 
                [% IF config.suggdict_run_hour == h %]selected="selected"[% END %]>
                [% FILTER format('%.2d:00') %][% h %][% END %] 
                and 
                [% FILTER format('%.2d:00') %][% h == 24 ? 1 : h+1 %][% END %].
            </option>
        [% END %]
        </select>
        <p>Last dictionary rebuild ran at 
            [% date.format(config.suggdict_last_run, "%b %e %Y, %H:%M") %].</p>
        <p>
        <input type="submit" name="submit.cm_suggdict" value="Update setting" />
        </p>
        </form>
    

    </div>

[% INCLUDE 'footer.html' %]
