[% INCLUDE 'header.html' title="Settings" %]
[% PROCESS 'settings_tabs.html' selected="Main settings" %]

[% versions = [
	{
		'value'  => 'production',
		'title' => 'Production',
	},
	{
		'value'  => 'testing',
		'title' => 'Testing',
	},
	{
		'value'  => 'devel',
		'title' => 'Development',
	}
] %]

<div id="settings">
	
	<h3>Select version</h3>
	
	[% IF dist_succs.defined %]
		[% WRAPPER 'template_message.html' type='success' %]
		Version preference changed to [% dist_succs %].
		[% END %]
<!--
	[% ELSIF dist_downgrade_err %]
            [% WRAPPER 'template_message.html' type='error' %]
            It's not possible to downgrade the system. 
            Can't go from <em>[% dist_downgrade_err.prev %]</em> 
            to <em>[% dist_downgrade_err.new %]</em>.
            [% END %]
-->
        [% ELSIF dist_err %]
            [% WRAPPER 'template_message.html' type='error' %]
                Unable to update version preference. [% dist_err %] 
            [% END %]

        [% ELSE %]
		[% WRAPPER 'template_message.html'
			type='info' %]
			Select what version of Searchdaimon ES you want to run.
			<ul>
				<li><strong>Production</strong> is the most tested and stable version.</li>
				<li><strong>Testing</strong> is a middle way and contains packages that have not reached production yet.</li>
				<li><strong>Development</strong> is the latest and untested software.</li>
			</ul>
			Only stable is guaranteed to work at all times.
		[% END %]
	[% END %]
	
	<form action="settings.cgi" method="post">
	<ul id="version_list">

		[% FOREACH versions %]

		<li>
			<input type="radio" name="dist" 
				value="[% value %]" id="dist_[% value %]" 
				[% IF dist_preference == value %]
					checked="checked"
				[% END %] /> 
			<label for="dist_[% value %]">[% title %]</label>
		</li>
		[% END %]
	</ul>
	<input type="submit" name="submit.dist_select" value="Select version" />
	</form>
</div>

<div id="settings">
    <h3>Administration account password</h3>

    [% IF pass_updated %]
        [% WRAPPER 'template_message.html' type="success" %]
            Password has been updated.
        [% END %]
    [% END %]
    [% IF pass_update_err %]
        [% WRAPPER 'template_message.html' type='error' %]
            Unable to update password. [% pass_update_err %]
        [% END %]
    [% END %]


    <form action="settings.cgi" method="post">
        <table>
            <tr>
                <td>Old password:</td><td><input type="password" 
                    name="passwd.old" value="[% passwd.old %]" /></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>New password:</td>
                <td><input type="password" name="passwd.new" value="[% passwd.new %]" /></td>
            </tr>
            <tr><td>New password (again):</td>
                <td><input type="password" name="passwd.new_rep" value="[% passwd.new_rep %]" /></td>
            </tr>
        </table>
        <input type="submit" name="submit.admin_pass" value="Change password" />
    </form>

</div>

<!--
<div id="settings">

        <h3>Update manualy</h3>
		[% WRAPPER 'template_message.html'
			type='info' %]
			Look for updates manualy.

		[% END %]
	<form action="update.cgi" method="get">

	<input type="submit" name="update_now" value="Update" />

	</form>

</div>
-->

[% INCLUDE 'footer.html' %]
