[% WRAPPER 'header.html' title="Settings" extra_js=[ 'jquery', 'utils', 'effects.core', 'effects.highlight' ] %]
[% END %]

[% PROCESS 'settings_tabs.html' selected="Anonymous statistics" %]

[% versions = [
	{
		'value'  => 'legal',
		'title' => 'Allow',
	},
	{
		'value'  => 'illegal',
		'title' => 'Disallow',
	}
] %]


<div>
	
	<h2>Allow/Disallow collection of anonymous usage statistics</h2>
	
	[% IF anostat_succs.defined %]
		[% WRAPPER 'template_message.html' type='success' %]
		 Anonymous usage statistics preference changed to [% anostat_succs %].
		[% END %]
        [% ELSIF anostat_err %]
            [% WRAPPER 'template_message.html' type='error' %]
                Unable to update anonymous usage statistics preference. [% anostat_err %] 
            [% END %]

	[% END %]

	<p>
		We are very interested in learning more about how our product is used so we better can determine what to priority in further releases.
	</p>
	<p>
 		If you allow us, we will collect some anonymous statistics about your ES and send it back to us from time to time. The statistic is anonymous, and will not contain any personal information, or any information that can identify individual or individual ES installations.
	</p>	
	<form action="settings.cgi" method="post">
	<ul style="list-style-type : none;">

		[% FOREACH versions %]

		<li>
			<input type="radio" name="anostat" 
				value="[% value %]" id="anostat_[% value %]" 
				[% IF anostat_preference == value %]
					checked="checked"
				[% END %] /> 
			<label for="anostat_[% value %]">[% title %]</label>
		</li>
		[% END %]
	</ul>
	<input type="submit" name="submit.anostat_select" value="Select version" />
	</form>


	<h2>View and delete data</h2>
	<p>
		You can at any time view, and optionally delete, all data we have stored about you installation at: 
	</p>


	<h2>Security</h2>
	<p>
		In addition to being anonymised, access to the data is protected by a unique cryptographic key: 
	</p>
</div>


[% INCLUDE 'footer.html' %]
