[% WRAPPER 'header.html' title = 'Edit collection settings' 
	extra_js = ['jquery', 'collection_edit', 'effects.core', 'effects.highlight'] 
%]
<script type="text/javascript">
//<![CDATA[
	$(document).ready(function() {
		var s = new UserPrefixSugg(
			$('#authSelect'), 
			$('#authNewInput'), 
			$("#prefixInput")
		);
	});
//]]>
</script>
[% END %]
[% USE HTML %]
[% PROCESS 'template_connector_blocks.html' %]
[% PROCESS 'template_collection_warnings.html' %]

[% UNLESS error_collection_not_exist %]
[% PROCESS 'overview_tabs.html' selected="Edit collection" id = share.id %]
	
	<h2>Edit settings for [% HTML.escape(share.collection_name) %]</h2>
	<form method="post" action="overview.cgi">
	[% WRAPPER 'template_edit_collection.html'
		fields = input_fields %]
	[% END %]
	
	<div style="padding-top : 1em;">
	<input type="hidden" value="[% share.id %]" name="share.id" />
	<input type="submit" name="submit_edit" value="Submit changes" />
	</div>
		
	</form>


[% END %]
[% INCLUDE 'footer.html' %]
