[% PROCESS 'overview_common.html' %]
[% PROCESS 'common_widgets.html' %]

[% IF show_only_inner %]
	[% ##
	   # Show only connectors and tables. 
	 %]

	[% PROCESS list_connectors %]
[% ELSE %]
	[% ##
	   # Normal view. 
	  %]
	
	[% IF connectors_max_count %]
		[% INCLUDE 'header.html' 
			title = 'Collections overview'
		%]
	[% ELSE %]
		[% INCLUDE 'header.html' 
			title = 'Collections overview'
			extra_js = ['jquery', 'overview_update']
			onload = 'overview_update_interval(3)'
		%]
	[% END %]
	[% PROCESS overview_messages.html %]

	[% IF error_usersys %]
		[% WRAPPER 'tpl_msg.html' type="error" %]
			Unable to connect to the user system. <br />
			[% error_usersys.error | html %]<br />
			Please fix the <a href="usersys.cgi?view=edit&id=[% error_usersys.sys_id %]">user system setup</a>.
		[% END %]
	[% END %]


	[% IF connectors_max_count %]
		[% WRAPPER 'tpl_msg.html' type="info" %]
			You have to many collections for me to lockup the size for each one. Instead view the size at the console tab for each collection.
		[% END %]
	[% END %]	

	<h1>Collections</h1>
	     [% PROCESS pretty_button 
		icon = "edit_add"
		action = "add.cgi"
                text = "Create a new collection"
		#act  = "new"
		method = "post"
                name = "btn.new"  %]


	

	<form action="overview.cgi" method="post">
	<div id="overview">
	[% PROCESS list_connectors %]
	</div>
	</form>
	
	
	[% INCLUDE 'footer.html' %]

[% END %]
