[% PROCESS 'overview_common.html' %]

[% IF show_only_inner %]
	[% ##
	   # Show only connectors and tables. %]

	[% PROCESS list_connectors %]
[% ELSE %]
	[% ##
	   # Normal view. %]
	
	[% INCLUDE 'header.html' 
		title = 'Collections overview'
		extra_js = ['overview_update']
		onload = 'overview_update_interval(3)'
	%]

	[% PROCESS overview_messages.html %]
	
	<h2>Collections</h2>
	<form action="overview.cgi" method="post">
	<div id="overview">
	[% PROCESS list_connectors %]
	</div>
	</form>
	
	
	[% INCLUDE 'footer.html' %]

[% END %]
