[% USE HTML %]
[% USE date %]

[% BLOCK list_connectors %]
	[% FOREACH conn IN connectors %]
		[% NEXT UNLESS conn.active || conn.has_test_coll %]
		<h3 style="margin-top : 1em;">[% conn.name %] collections</h3>
	[% IF conn.collections.size %]
			[% INCLUDE list_collections 
				collections = conn.collections 
				only_show_testcoll = !conn.active && conn.has_test_coll
			%]
		[% ELSE %]
			<p>There are no collections being indexed.</p>
		[% END %]
	[% END %]
[% END %]


[% BLOCK list_collections %]
	
	[% IF only_show_testcoll %]
		<p>Connector is not marked as ready for use. Only the test collection will available.</p>
	[% END %]

		[% WRAPPER 'template_table.html'
			header = ['Status', 'Collection', 'Last crawl', 'Next crawl', 'Collection size' ''] class="hovering" style="width : 100%;" %]
			[% SET color = 0 %]
			
			[% FOREACH c IN collections %]
				[% NEXT IF only_show_testcoll && !c.is_test_coll %]
				[% color = 1 - color %]
				[% WRAPPER 'template_table_row.html' 
					disabled = !c.active && !c.is_pushed
					other = 'padding-top : 1em; padding-bottom : 1em;' %]
					<td style="width : 64px;">
						[% IF c.is_pushed %]
							<img src="file.cgi?i=mimetypes" alt="Pushed" />
						[% ELSIF c.active %]
							[% IF c.crawler_success %] 
								<img src="file.cgi?i=agt_action_success" alt="ok" />
							[% ELSE %] 
								<img src="file.cgi?i=agt_action_fail" alt="fail" />
							[% END %]
						[% ELSE %]
							<img src="file.cgi?i=mimetypes_disabled" alt="Not active" />
						[% END %]
					</td>
		
					<td style="width : 20%">
						[% IF c.is_test_coll %]
							<span style="background : #ffb2b2; color : black; font-weight : bolder;">Test collection</span>
						[% ELSE %]
							[% HTML.escape(c.collection_name) %]
						[% END %]
					</td>
			
					<td style="width : 15%">
						[% IF c.active %]
							[% IF c.last_crawl %]
								[% date.format(c.last_crawl, "%a %b %e, %H:%M") %]
							[% ELSE %]
								Not fully crawled
							[% END %]
		
							[% IF c.warn %]
								<div style="float : left; margin-top : 1em; 
									font-size : x-small; background : #ffb2b2">[% HTML.escape(c.warn) %]</div>
							[% END %]
						[% END %]
					</td>
					<td style="width : 30%">
						[% IF c.active %]
							[% IF c.next_crawl %]
								[% c.next_crawl %]. <br />
							[% END %]
							
							[% IF c.rate %]
								Crawled every [% c.smart_rate %].
							[% ELSE %]
								Every [% c.smart_rate %] (default)
							[% END %]
						[% END %]
					</td>
					<td>
						[% IF connectors_max_count %]
							&nbsp;
						[% ELSE %]
							[% IF c.active || c.is_pushed %]
								[% c.doc_count %]&nbsp;documents
							[% END %]
						[% END %]
					</td>
					<td>

	
						<ul class="button_list">
							[% INCLUDE coll_buttons c = c %]
						</ul>
					</td>
				[% END %]
				[% END %]
			
			[% END %]



[% END %]



[% BLOCK coll_buttons %]
	[% IF c.is_pushed  %]
		[% INCLUDE btn 
			action = "push_del", 
			coll = c.collection_name, 
			title = "Delete" 
		%]
		[% RETURN %]
	[% END %]
	
	[% IF !c.is_test_coll %]	
		[% IF c.connector == 14 %]
			<!-- Push connector. Do noting for now -->
		[% ELSIF c.active %]
			[% IF c.crawl_pid %]
				[% INCLUDE btn
					style = "background : #ffb2b2;"
					action = "stop_crawl",
					id = c.id 
					title = "Stop crawl"
				%]
			[% ELSE %]
				[% INCLUDE btn
					action = "crawl"
					id = c.id
					title = "Crawl now" 
				%]
			[% END %]
		[% ELSE %]
			[% INCLUDE btn
				action = "activate"
				title = "Activate"
				id = c.id 
			%]
		[% END %]

		[% INCLUDE btn 
			action = "edit"
			title = "Manage"
			connector = c.connector
			id = c.id 
		%]
	[% END %]

	[% INCLUDE btn
		action = "delete"
		title = "Delete"
		id = c.id 
	%]
[% END %]

[% BLOCK btn %]
	<li><div style="[% style %]">
	<a href="overview.cgi?action=[% action %]&amp;id=[% id %]&amp;coll=[% HTML.escape(coll) %]&amp;connector=[% connector %]">[% title %]</a>
	</div></li>
[% END %]
