[% USE HTML %]
[% USE date %]

[% BLOCK list_connectors %]
	[% i = 0 %]
	[% FOREACH conn IN connectors %]
		<h3>[% conn.name %]</h3>
		[% color = 0 %]
		[% IF conn.collections.size %]
		
			[% WRAPPER 'template_table.html'
			header = ['Status', 'Collection', 'Last crawl', 'Next crawl', 'Collection size' ''] %]
		
			[% FOREACH c IN conn.collections %]
				[% color = 1 - color %]
				[% WRAPPER 'template_table_row.html' 
					disabled = !c.active && !c.is_pushed
					other = 'padding-top : 1em; padding-bottom : 1em;' %]
					<td style="width : 64px;">
						[% IF c.is_pushed %]
							<img src="file.cgi?i=mimetypes" alt="Pushed" />
						[% ELSIF c.active %]
							[% IF c.crawler_success %] 
								<img src="file.cgi?i=agt_action_success" alt="ok" />
							[% ELSE %] 
								<img src="file.cgi?i=agt_action_fail" alt="fail" />
							[% END %]
						[% ELSE %]
							<img src="file.cgi?i=mimetypes_disabled" alt="Not active" />
						[% END %]
					</td>
		
					<td style="width : 15%">
						[% HTML.escape(c.collection_name) %]
					</td>
			
					<td style="width : 15%">
						[% IF c.active %]
							[% IF c.last_crawl %]
								[% date.format(c.last_crawl, "%a %b %e, %H:%M") %]
							[% ELSE %]
								Not fully crawled
							[% END %]
		
							[% IF c.warn %]
								<div style="float : left; margin-top : 1em; 
									font-size : x-small; background : #ffb2b2">[% HTML.escape(c.warn) %]</div>
							[% END %]
						[% END %]
					</td>
					<td style="width : 30%">
						[% IF c.active %]
							[% IF c.next_crawl %]
								[% c.next_crawl %]. <br />
							[% END %]
							
							[% IF c.rate %]
								Crawled every [% c.smart_rate %].
							[% ELSE %]
								Every [% c.smart_rate %] (default)
							[% END %]
						[% END %]
					</td>
					<td>
						[% IF c.active || c.is_pushed %]
							[% c.doc_count %]&nbsp;documents
						[% END %]
					</td>
					<td>
	
						<ul class="button_list">
						[% IF c.is_pushed %]
							<li><div>
								<a href="overview.cgi?action=push_del&coll=[% HTML.escape(c.collection_name) %]">Delete</a>
							</div></li>
						[% ELSE %]
							[% IF c.active %]
							<li>
								[% IF c.crawl_pid %]
								<div style="background : #ffb2b2; ">
									<a  href="overview.cgi?action=stop_crawl&amp;id=[% c.id %]">Stop&nbsp;crawl</a>
								</div>
								[% ELSE %]
								<div>
									<a href="overview.cgi?action=crawl&amp;id=[% c.id %]">Crawl&nbsp;now</a>
								</div>
								[% END %]
							</li>
							[% ELSE %]
							<li>
								<div>
									<a href="overview.cgi?action=activate&amp;id=[% c.id %]">Activate</a>
								</div>
							</li>
							[% END %]
							<li>
								<div>
									<a href="overview.cgi?action=edit&amp;id=[% c.id %]">Manage</a>
								</div>
							</li>
							<li>
								<div>
									<a href="overview.cgi?action=delete&amp;id=[% c.id %]">Delete</a>
								</div>
							</li>
						[% END %]
						</ul>
					</td>
				[% END #row %]
				[% END #collections %]
			
			[% END #table %]

		[% ELSE %]
			[% WRAPPER 'template_info.html' %]
				There are no collections being indexed.
			[% END %]
		[% END #if %]
	[% i = i + 1 %]
	[% END #connectors %]



[% END #block %]
