[% INCLUDE 'header.html' title = 'Advanced management' %]
[% USE HTML %]
[% PROCESS 'template_connector_blocks.html' %]
[% PROCESS 'template_collection_warnings.html' %]

[% PROCESS 'overview_tabs.html'
	selected = "Advanced management" %]
[% UNLESS error_collection_not_exist %]
	<h2>Management for [% HTML.escape(share.collection_name) %]</h2>
	
	
	<form method="post" action="overview.cgi">
	[% PROCESS 'template_edit_collection.html' 
		fields = ['advanced'] %]
	</form>

	<form method="post" action="overview.cgi">
	[% PROCESS 'template_edit_collection.html' 
		fields = ['test_crawl'] %]
[% END %]
[% INCLUDE 'footer.html' %]

