[% INCLUDE 'header.html' title = 'Graphs' %]
[% USE HTML %]

<!--
[% PROCESS 'template_tabs.html' 
	tabs = [
	{
		'name' => 'Log files',
		'url' => 'logs.cgi'
	},
	{
		'name' => 'Search log',
		'url' => 'logs.cgi?view=search',
		
	}]
        selected => 'Log files'
%]
-->

<h2>Graphs</h2>

<h4>Graph days</h4>

<p>
<a href="graphs.cgi?last=30">30 days</a>
 - <a href="graphs.cgi?last=60">60 days</a>
 - <a href="graphs.cgi?last=90">90 days</a>
 - <a href="graphs.cgi?last=180">180 days</a>
 </p>

<script type="text/javascript" src="/amcharts/amcolumn/swfobject.js"></script>
        <div id="queries">
	<strong>You need to upgrade your Flash Player</strong>
	</div>

	<script type="text/javascript">
	// <![CDATA[            
	var so = new SWFObject("/amcharts/amcolumn/amcolumn.swf", "amcolumn", "520", "380", "8", "#FFFFFF");
	so.addVariable("path", "/amcharts/amcolumn/");
	so.addVariable("settings_file", encodeURIComponent("Graph/config.cgi?action=queries&last=[% last %]"));
	so.addVariable("data_file", encodeURIComponent("Graph/graph.cgi?action=queries&last=[% last %]"));
	so.addVariable("preloader_color", "#999999");
	so.write("queries");
	// ]]>
	</script>

<!--
<script type="text/javascript" src="/amcharts/amcolumn/swfobject.js"></script>
        <div id="searches">
	<strong>You need to upgrade your Flash Player</strong>
	</div>

	<script type="text/javascript">
	// <![CDATA[            
	var so = new SWFObject("/amcharts/amcolumn/amcolumn.swf", "amcolumn", "520", "380", "8", "#FFFFFF");
	so.addVariable("path", "/amcharts/amcolumn/");
	so.addVariable("settings_file", encodeURIComponent("Graph/config.cgi?action=searchesday&last=[% last %]"));
	so.addVariable("data_file", encodeURIComponent("Graph/graph.cgi?action=searchesday&last=[% last %]"));
	so.addVariable("preloader_color", "#999999");
	so.write("searches");
	// ]]>
	</script>
-->
  <script type="text/javascript" src="/amcharts/amline/swfobject.js"></script>
        <div id="searches">
                <strong>You need to upgrade your Flash Player</strong>
        </div>

        <script type="text/javascript">
                // <![CDATA[            
                var so = new SWFObject("/amcharts/amline/amline.swf", "amline", "520", "400", "8", "#FFFFFF");
                so.addVariable("path", "/amcharts/amline/");
                so.addVariable("settings_file", encodeURIComponent("Graph/config.cgi?action=searchesday&last=[% last %]"));
                so.addVariable("data_file", encodeURIComponent("Graph/graph.cgi?action=searchesday&last=[% last %]"));
                so.write("searches");
                // ]]>
        </script>


<script type="text/javascript" src="/amcharts/amcolumn/swfobject.js"></script>
        <div id="searchers">
	<strong>You need to upgrade your Flash Player</strong>
	</div>

	<script type="text/javascript">
	// <![CDATA[            
	var so = new SWFObject("/amcharts/amcolumn/amcolumn.swf", "amcolumn", "520", "380", "8", "#FFFFFF");
	so.addVariable("path", "/amcharts/amcolumn/");
	so.addVariable("settings_file", encodeURIComponent("Graph/config.cgi?action=users&last=[% last %]"));
	so.addVariable("data_file", encodeURIComponent("Graph/graph.cgi?action=users&last=[% last %]"));
	so.addVariable("preloader_color", "#999999");
	so.write("searchers");
	// ]]>
	</script>


<h3>All users</h3>

<ul>
	[% FOREACH u IN users %]
		<li>
		<a href="graphs.cgi?user=[% u.user %]&last=[% last %]">[% u.user | html %]</a> <small>([% u.num %])</small>
		</li>
	[% END %]
</ul>

 

[% INCLUDE 'footer.html' %]
