[% INCLUDE 'header.html' title = 'Diagnostics overview' %]
[% USE HTML %]

[% PROCESS 'system_diag_tabs.html' selected='Diagnostics overview'%]

<h2>Components</h2>
<div style="margin-top : 1em;">
[% WRAPPER 'template_table.html' 
	header = ['', 'Component', 'Status', 'Details'] %]

	[% WRAPPER 'template_table_row.html'
		color = 0 %]
		<td style="width : 40px;">[% PROCESS status_icon 
				error = raid.error.defined %]</td>
		<td style="width : 20%">RAID drives</td>
		<td style="width : 10%">[% PROCESS status_text 
				error = raid.error.defined %]</td>
		<td style="width : 65%;">
			[% raid.error %]
		
			<p>
				[% IF raid.drives.size %]
					<ul>
					[% FOREACH drive IN raid.drives %]
						<li>[% drive.name %]
							[% IF drive.online %]
								[% PROCESS status_ok %]
							[% ELSE %]
								[% PROCESS status_error msg = "not responding" %]
							[% END %]
						</li>
					[% END %]
					</ul>
				[% ELSE %]
					No RAID drives found.
				[% END %]
			</p>
		</td>
	[% END %]
	[% WRAPPER 'template_table_row.html' 
		color = 1 %]
		<td>[% PROCESS status_icon 
				error = integration.error.defined %]</td>
		<td>Integration with [% integration.method %]</td>
		<td>[% PROCESS status_text 
				error = integration.error.defined %]</td>
		
		<td>
			[% integration.error %]
		</td>
	[% END %]
[% END %]
</div>

<h2 style="margin-top : 2em;">Document disk usage</h2>

<div>
	[% WRAPPER 'template_message.html' type="info" %]
		<p>Information about disk usage for indexed documents. You can also see usage per <em>lot</em> by using the button below. Calculation may take a while.</p>
		<form method="get" action="system.cgi">
		<input type="submit" name="submit.show_lot_size" value="Calculate lot sizes" />
		</form>
	[% END %]
	

	[% FOREACH mount IN lotinfo %]
		<h3>Information for disk <em>[% mount.mount %]</em></h3>
		<ul style="list-style-type : none; padding : 0; margin-left : 1em;">
			<li>Disk usage: [% mount.used %]</li>
			<li>Free disk space: [% mount.left %] out of [% mount.size %] ([% mount.per %]% used)</li>
		</ul>
		
		[% IF show_lot_details %]	
			[% WRAPPER 'template_table.html'
					header = ['', 'Lot', 'Size'] %]
			[% color = 0 %]
	
			
				[% FOREACH lot IN mount.lots %]
				
					[% WRAPPER 'template_table_row.html' %]
						<td style="width : 25px;"><img src="file.cgi?i=folder_blue&amp;size=22x22" alt="" /></td>
						<td>[% lot.path %]</td>
						
						<td>[% IF lot.usage.defined %][% lot.usage %][% END %]</td>
					[% END %]
					
					[% color = 1 - color %]
				[% END %]
			
			[% END #table %]
		[% END #if %]
	[% END # foreach %]
</div>

[% BLOCK status_text %]
	[% IF error %]
		<span style="color : red; font-weight : bolder;">Error</span>
	[% ELSE %]
		<span style="color : green;">OK</span>	
	[% END %]
[% END %]

[% BLOCK status_icon %]
	[% IF error %]
		<img src="file.cgi?i=agt_action_fail" alt="ok" />
	[% ELSE %]
		<img src="file.cgi?i=agt_action_success" alt="fail" />
	[% END %]
[% END %]

[% INCLUDE 'footer.html' %]
