[% INCLUDE 'header.html' title="Upload software package" %]
[% USE HTML %]

[% PROCESS 'system_tabs.html' selected="Upload software package" %]

[% IF install_success.defined %]
	[% IF install_success.0 %]
		[% msg = "Packages have been installed." %]
		[% type = "success" %]
	[% ELSE %]
		[% msg = "Installation failed: <br /> $install_success.1" %]
		[% type = "error" %]
	[% END %]
	
	[% WRAPPER 'template_message.html' type=type %]
		[% msg %]
	[% END %]
[% END %]

<h1>Software updates</h1>

<h2>Installed software</h2>
[% IF pkg_listing_error %]
    [% WRAPPER 'template_message.html' type='error' %]
        [% pkg_listing_error %]
    [% END %]
[% END %]
[% PROCESS list_pkgs pkg_list = installed_pkgs %]

<h2>Check for Black Box updates</h2>
[% IF available_packages_error.defined %]
	
	[% WRAPPER 'template_message.html' type="error" %][% available_packages_error %][% END %]

[% END %]
[% UNLESS available_packages.defined %]
	
	<form action="system.cgi" method="post">
		<div>
		<input type="submit" name="submit.software_check_updates" value="Check for updates.." />
		</div>
	</form>
	

[% ELSE %]

	[% UNLESS available_packages.size %]

		<p>Your system is up to date. There are currently no updatese avaialble for the 
<strong>[% bbox_version %]</strong> version of Black Box.</p>

	[% ELSE %]
	    <h4>Updates available</h4>
                [% PROCESS list_pkgs pkg_list = available_packages %]
		

		<form action="system.cgi" method="post">
		    <input type="submit" name="submit.software_install_available" value="Install updates" style="margin-top : 1em;" />
		</form>
	[% END %]

[% END %]


[% IF update_result.defined %]
	
	<h4>Update result:</h4>
	<ol>
	[% color = 0 %]
	[% FOREACH line IN update_result %]
		[% color = 1 - color %]
				<li>
				[% IF color %]<div>
				[% ELSE %]<div style="background : #f2f2f2"> [% END %]
				[% HTML.escape(line) %]</div></li>
	[% END %]
	</ol>
[% END %]

<h2 style="margin-top: 3em;">Upload software package</h2>

[% IF install_result.defined %]
	<h4>Install result:</h4>

	<ol>
	[% FOREACH line IN install_result %]
		[% color = 1 - color %]	
		<li>
				[% IF color %]<div>
				[% ELSE %]<div style="background : #f2f2f2"> [% END %]
				[% HTML.escape(line) %] </div></li>
	[% END %]
	</ol>
[% END %]

[% IF succ_upload_file.defined %]
	[% WRAPPER 'template_message.html' type="success" %]
		[% HTML.escape(succ_upload_file) %] has been uploaded.
	[% END %]
[% ELSIF error_no_rpm_suff.defined %]
	[% WRAPPER 'template_message.html' type="error" %]
		Uploaded failed. 
		[% IF error_no_rpm_filename.defined %]
			[% HTML.escape(error_no_rpm_filename) %] is not a RPM file.
		[% ELSE %]
			File is not a RPM file.
		[% END %]
	[% END %]

[% ELSIF remove_uploaded_succ.defined %]

	[% IF remove_uploaded_succ %]
		[% WRAPPER 'template_message.html' type="success" %][% remove_uploaded_message %][% END %]
	[% ELSE %]
		[% WRAPPER 'template_message.html' type="error" %][% remove_uploaded_message %][% END %]
	[% END %]

[% END %]


<form enctype="multipart/form-data" method="post" action="system.cgi">
	<div style="float : left; position : relative; margin-top : 1em; ">
		
		File: <input type="file" name="package_file" />
	
		<div style="position : absolute; right : 0; top : 2.5em;">
			<input type="submit" name="package_upload_button" value="Upload software package" />
		</div>
		
	</div>
</form>

[% IF uploaded_packages.defined AND uploaded_packages.size %]
	<h4 style="margin-top : 7em;">Uploaded packages</h4>
	
	[% WRAPPER 'template_table.html'
		header = ['', 'Software package', 'Remove'] %]
		[% color = 0 %]
		[% FOREACH package IN uploaded_packages %]
		
			[% WRAPPER 'template_table_row.html' %]
				
				<td style="width:25px;"><img src="file.cgi?i=rpm&amp;size=22x22" alt="" /></td>
				<td>[% package %]</td>
				<td><a href="system.cgi?action=pkg_remove&amp;pkg=[% package %]">Remove</a></td>
				
			[% END %]
		[% color = 1 - color %]
		[% END %]
	[% END %]
	<form action="system.cgi" method="post">
		<div>
		<input type="submit" name="submit.software_install_uploaded" value="Install" style="margin-top : 1em;" />
		</div>
	</form>
[% END %]


[%# blocks %]

[% BLOCK list_pkgs %]
    [% WRAPPER 'template_table.html'
        header = ['', 'Software package', 'Version', 'Release'] %]

	[% color = 0 %]
	[% FOREACH package IN pkg_list %]
	    [% WRAPPER 'template_table_row.html' %]
		<td style="width : 25px;">
                    <img src="file.cgi?icon=rpm&amp;size=22x22" alt="" /></td>
                <td>[% package.name %]</td>
		<td>[% package.version %]</td>
		<td>[% package.release %]</td>
		[% color = 1 - color %]
	    [% END #row %]
	[% END #foreach %]
    [% END #table %]
[% END %]




[% INCLUDE 'footer.html' %]
