[% INCLUDE 'header.html' title = 'Configure network' %]
[% USE HTML %]
[% USE Dumper %]
[% PROCESS 'network_config.html' %]

[% PROCESS 'system_tabs.html' selected="Network configuration" %]


[% IF error_msg_net.defined %]
	[% WRAPPER 'template_message.html' type='error' %] [% error_msg_net %] [% END %]
[% END %]
[% IF succ_msg_net.defined %]
	[% WRAPPER 'template_message.html' type='success' %] Network configuration updated [% END %]
[% END %]

<form action="system.cgi" method="post">
[% PROCESS network_config %]
<input type="submit" name="submit.network_conf" value="Apply changes" />
</form>

[% INCLUDE 'footer.html' %]