[% INCLUDE 'header.html' title="Search" %]
[% USE HTML %]

[% PROCESS 'apiinfo_tabs.html' selected="Search" %]
[% PROCESS 'apiinfo_common.html' %]
[% PROCESS 'common_widgets.html' %]


<h1>Generate search api urls</h1>

<div class="defaultForm" style="[% style %]">

<p>
Url: <a href="[% path %]">http://{hostname}[% path %]</a>
<!--
<br><br>Demo: <a href="http://demo.searchdaimon.com[% path %]">http://demo.searchdaimon.com[% path %]</a>
<br> ( May or may not work, depending on your parameters )
-->
</p>

</div>

<br>

<p>
Replace query=[% query %] with query=word to search for other words.
</p>




[% INCLUDE 'footer.html' %]


