# Auth

## Debug
#AuthName "Restricted Area"
#AuthUserFile /home/boitho/boithoTools/cgi-bin/webadmin/.htpasswd 
#AuthGroupFile /dev/null
#require user admin

AuthType Basic
AuthName modBoitho

<Files "index.pl">
	AuthBoitho on
	AuthType Basic
	require valid-user
</Files>

# Execute perl scripts
DirectoryIndex index.pl
AddHandler cgi-script pl
Options +ExecCGI

# Pretty url's (redirect)
RewriteEngine On
RewriteRule ^suggest/(.*)$ /cgi-bin/suggest_webclient?q=$1 [L,QSA]


# No direct reading of tpl files
<Files ~ "\.tpl$">
	Deny from all
</Files>

# Localisation
<Files ~ "\.po$">
	Deny from all
</Files>

# Perl modules
<Files ~ "\.pm$">
	Deny from all
</Files>
