[% WRAPPER 'header.html' title='End users' extra_js=['jquery'] %]
<script type="text/javascript">
	function check_all_users(checked) {
		checked ? $("#usr_list input").attr("checked", "checked")
			: $("#usr_list input").removeAttr("checked");
	}	

	/*$(document).ready(function() { // make rows clickable 
		$('#usr_list tr').click(function() {
			var searchAccess = $(this).find("input");
			searchAccess.attr("checked") 
				? searchAccess.removeAttr("checked") 
				: searchAccess.attr("checked", "checked");
		});
	});*/
</script>
[% END %]
[% PROCESS 'common_widgets.html' %]

[%#Main page for users.cgi %]

<h1>End users</h1>

[% IF error %]
	[% PROCESS 'tpl_msg.html' type="error" content = error %]
[% END %]


[% WRAPPER 'template_description.html' style="margin-bottom : 0.5em;" %]
	[% IF licensed_users == 0 %]
		You have license for unlimited users. 
	[% ELSE %]
		[% IF licensed_users < activated_users %]
		<b>Changes not saved.</b>
		[% ELSE %]
		Search activated for [% activated_users %] out of a total of [% users.size %] system users. 
		[% END %]
		[% IF licensed_users %]
			Your license covers [% licensed_users %] users.
		[% ELSE %]
			You do not have license for any users on this system.
		[% END %]
	[% END %]
	<a href="settings.cgi">License settings</a>.

[% END %]
[% IF !error && licensed_users != 0 && licensed_users < activated_users %]
	[% SET too_many = activated_users - licensed_users %]
	[% SET error = "You have selected $activated_users users. Current license only covers $licensed_users users." %]
[% END %]


<form method="post" action="users.cgi">
<input type="hidden" name="upd_usr_access" value="1" />
[% PROCESS pretty_button
        text = "Update user access"
	icon = "kdmconfig"
	no_form = 1
%]
   

[% WRAPPER 'template_table.html' id="usr_list" class="hovering"
	header = ['', 'Username', 'Search access'] style="width : 50%; margin-top : 1em; clear : both;" %]
	[% i = 0 %]
	[% FOREACH usr IN users %]
		[% color = 1 - color %]
		[% WRAPPER 'template_table_row.html' %]
		
		<td style="width : 24px;">
			<img src="file.cgi?i=personal&amp;size=22x22" alt="" />
		</td>
		<td>
			<a href="users.cgi?user=[% usr.username %]">[% usr.username | html %]</a>
		</td>
		
		<td>
			[% IF licensed_users == 0 %]
<!-- aaaaaaa fix lated -->
				<input id="useraccess[% i %]" name="users[[% i %]]" value="[% usr.username | html %]" type="checkbox" [% IF usr.active %]checked="checked"[% END %] />				
			[% ELSE %]
				<input id="useraccess[% i %]" name="users[[% i %]]" value="[% usr.username | html %]" type="checkbox" [% IF usr.active %]checked="checked"[% END %] />
			[% END %]
		</td>

		
		[% END %]
		[% i = i + 1 %]
	[% END %]
	[% FOREACH username IN unknown_active %]
		[% WRAPPER 'template_table_row.html' disabled = 1 %]
			<td>
				<img src="file.cgi?i=personal_disabled&amp;size=22x22" alt="" />
			</td>
			<td>[% username | html %] <em>(unknown user)</em></td>
			<td>
				<input name="users[[% i %]]" value="[% username | html %]" type="checkbox" checked="checked" />
			</td>
		[% END %]
		[% i = i + 1 %]
	[% END %]
[% END %]
<ul class="vertical_buttons">
	<li><a href="javascript:check_all_users(true);">Select all</a></li>
	<li><a href="javascript:check_all_users(false);">Select none</a></li>
</ul>

[% PROCESS pretty_button
        text = "Update user access"
	style = "margin-top : 1em;"
	icon = "kdmconfig"
	no_form = 1
%]
</form>

[% INCLUDE 'footer.html' %]
