[% USE HTML %]
[% INCLUDE 'header.html' 
	title = 'Configure network'
	simple_header = 1
	extra_css = ['setup']
%]


<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	<h3>- Validate license</h3>
	
	[% IF error_msg_auth.defined %]
		[% WRAPPER 'template_message.html'
			type = 'error' %]
			[% error_msg_auth %]
		[% END %]

	[% ELSE %]
		[% WRAPPER 'template_message.html' type='info' %]
		<p>Before we continue, please insert your license to activate it.</p>
		
		<p>If the Search Daimon is not connected to the internet, please use <a href="#">alternative validation</a>.</p>
	[% END %]
	[% END %]
	
	
	
	
	
	<h3>Input license:</h3>
	<form action="setup.cgi" method="post">
	<input type="text" value="[% license %]" name="license" />
	<input type="hidden" name="form_id" value="license_valid" />
		
	<div id="buttons_block">
		<input type="submit" name="next_button" value="Continue" class="next_button" />
	</div>
	</form>
</div>
		



[% INCLUDE 'footer.html' %]
