[% USE HTML %]
[% USE Dumper %]
[% INCLUDE 'header.html' 
	title = 'Integrate user system'
	simple_header = 1
	extra_css = ['setup']
%]
[% PROCESS 'usersys_common.html' NO_FORM = 1 %]


<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	[% SET sys_conn = sys.connector %]
	<h3>- Integrate with [% user_systems.$sys_conn %]</h3>
	
	[% IF error_msg.defined %]
		[% WRAPPER 'template_message.html'
			type = 'error' %]
			[% error_msg %]
		[% END %]
	[% END %]

	<form action="setup.cgi" method="post">
		<div style="margin-top : 0.5em;">
			[% WRAPPER sys_form style="background : 0; border : 0;" %]
			<input type="hidden" name="sys.connector" value="[% sys.connector %]" />
			[% END %]
		</div>
		<p>							
				<input type="hidden" name="form_id" value="integration_values" />
				
				<div id="buttons_block">
					<input type="submit" name="next_button" value="Continue" class="next_button" />
				</div>
		</p>
	</form>
	
</div>
		



[% INCLUDE 'footer.html' %]
