[% USE HTML %]
[% USE Dumper %]
[% INCLUDE 'header.html' 
	title = 'Configure network'
	simple_header = 1
	extra_css = ['setup']
%]

<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	<h3>- Manual activation</h3>
	
	[% IF error_msg_auth.defined %]
		[% WRAPPER 'template_message.html'
			type = 'error' %]
			[% error_msg_auth %]
		[% END %]

	[% END %]
		<p>
			To activate, go to <a href="[% activate_url %]" target="_blank">[% activate_url %]</a>
			on a computer connected to the internet, and fill in license and hardware code. You will then be provided with a authentication code.</p>
			
			<p>
			Your <em>hardware code</em> is:
			<span style="border: 1px solid; border-color : silver; 
						background-color: #eef6ff; font-weight: bold; ">
				[% hardware_code %]
			</span>
			
			</p>

	<h3>Input authentication code:</h3>
	<form action="setup.cgi" method="post">
	<input type="text" value="[% auth_code %]" name="auth_code" />
	<input type="hidden" name="form_id" value="auth_code_valid" />
		
	<div id="buttons_block">
		<input type="submit" name="next_button" value="Activate" class="next_button" />
	</div>
	</form>
</div>
		



[% INCLUDE 'footer.html' %]
