[% INCLUDE 'header.html' 
	title = 'Sign in'
	simple_header = 1
	extra_css = ['setup']
%]
<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	<h3>- Integrate to your network</h3>
	
	<form action="setup.cgi" method="post">
	<input type="hidden" name="form_id" value="integration_method" />
	<ul style="list-style-type : none;">
		[% FOREACH id IN user_systems.keys %]
			
			<li>
				<input type="radio" name="auth_connector" value="[% id %]" id="sys_[% id %]" 
					[% IF primary.id == id %]checked="checked"[% END %] /> 
				<label for="sys_[% id %]">[% user_systems.$id | html %]</label>
					
			</li>
		[% END %]
	</ul>
	<div>
			Name:&nbsp;&nbsp;<input type="text" name="sys_name" />
				<span style="font-size : x-small;">[% '(Defaults to "Unnamed system")' | html %]</span>
	</div>
	<div id="buttons_block" style="margin-top : 1em;">
		<input type="submit" name="next_button" value="Continue" class="next_button" />
	<div>
	</form>
</div>	




[% INCLUDE 'footer.html' %]
