[% USE HTML %]
[% USE Dumper %]
[% INCLUDE 'header.html' 
	title = 'Configure network'
	simple_header = 1
	extra_css = ['setup', 'check_list']
%]
[% PROCESS 'network_config.html' %]
[% PROCESS 'network_messages.html' %]

<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	<h3>- TCP/IP Configuration</h3>
	
	[% checkListHTML %]
	
	<form action="setup.cgi" method="post">
	[% PROCESS network_config %]
	<input type="hidden" name="form_id" value="network_config" />
		
	<div id="buttons_block">
		<input type="submit" value="Apply settings" class="next_button" />
                <input type="submit" class="skip_button" name="skip" value="Skip" class="next_button" />
	</div>

	</form>
</div>
		



[% INCLUDE 'footer.html' %]
