[% USE HTML %]
[% USE Dumper %]
[% INCLUDE 'header.html' 
	title = 'Integrate user system'
	simple_header = 1
	extra_css = ['setup']
%]
[% PROCESS 'usersys_common.html' NO_FORM = 1 %]


<div id="wizard_block">
	<img id="logo" src="file.cgi?i=logo_mini2&amp;size=other" alt="" />
	<h2>First time wizard</h2>
	[% SET sys_conn = sys.connector %]
	<h3>- Integrate with [% user_systems.$sys_conn %]</h3>
	
	[% IF error_msg.defined %]
		[% WRAPPER 'template_message.html'
			type = 'error' %]
			[% error_msg %]
		[% END %]
	[% END %]


<p style="margin-top : 0.5em; margin-bottom  : 0.5em;">For legacy reasons you most setup a Microsoft Active Directory as primary user system, even if you don&#39;t have an Active Directory. If you don&#39;t have an Active directory, you can use the values bellow to emulate one. Just cut and paste them below.</p>

<table width="200" border="0">
  <tr>
    <td>Domain:</td>
    <td>localhost.local</td>
  </tr>
  <tr>
    <td>Ip:</td>
    <td>127.0.0.1</td>
  </tr>
  <tr>
    <td>Password:</td>
    <td>12345678</td>
  </tr>
  <tr>
    <td>User:</td>
    <td>Admin</td>
  </tr>
</table>

<h4 style="margin-top : 1em;">Microsoft Active Directory values</h4>

	<form action="setup.cgi" method="post">
		<div style="margin-top : 0.5em;">
			[% WRAPPER sys_form style="background : 0; border : 0;" no_name = 1 %]
			<input type="hidden" name="sys.connector" value="[% sys.connector %]" />
			<input type="hidden" name="sys.name" value="[% sys.name %]" />
			[% END %]
		</div>
		<p>							
				<input type="hidden" name="form_id" value="integration_values" />
				
				<div id="buttons_block">
					<input type="submit" name="next_button" value="Continue" class="next_button" />
				</div>
		</p>
	</form>	
</div>
		



[% INCLUDE 'footer.html' %]
