[% USE Dumper %]
[% BLOCK network_config %]

	<h4>Network device</h4>
	<div class="block_default" style="margin-top : 1em;">
		<input type="radio" name="netconf.method" 
			value="auto" id="netconf_method_auto" 
				[% IF netconf.BOOTPROTO == "dhcp"
					OR BOOTPROTO == "bootp" %]
					checked="checked"
			[% END %] /> 
		<label for="netconf_method_auto"><strong>Automatic:</strong></label>

		<div class="block_inner" style="padding-left : 1.5em;">
			<select name="netconf.BOOTPROTO">
				<option value="dhcp" 
					[% IF netconf.BOOTPROTO == 'dhcp' %]
						selected="selected"
					[% END %]>dhcp (default)</option>
				<option value="bootp"
					[% IF netconf.BOOTPROTO == 'bootp' %]
						selected="selected"
					[% END %]>bootp</option>
			</select>
		</div>
	</div>
	
	<div class="block_default">
		<input type="radio" name="netconf.method" 
			value="static" id="netconf_method_static" 
				[% IF netconf.BOOTPROTO == 'static' %]
					checked="checked"
				[% END %] />
		<label for="netconf_method_static"><strong>Static:</strong></label>
	
	<div style="margin-left : 2em; margin-top: 0.5em;">	
		<div class="block_default">
			IP:
			<div class="block_inner">
			<input type="text" name="netconf.IPADDR" value="[% HTML.escape(netconf.IPADDR) %]" />
			</div>
		</div>
		
		<div class="block_default">
			Netmask:
			<div class="block_inner">
			<input type="text" name="netconf.NETMASK" value="[% HTML.escape(netconf.NETMASK) %]" />
			</div>
		</div>
		
		<div class="block_default">
			Gateway:
			<div class="block_inner">
			<input type="text" name="netconf.GATEWAY" value="[% HTML.escape(netconf.GATEWAY) %]" />
			</div>
		</div>
	</div>

	<h4>Domain Name System</h4>
	<div class="block_default" style="height : 6em;">
		DNS Server #1
		<div class="block_inner">
			<ul style="list-style-type : none; padding-left : 1.5em;">
				<li><input type="text" name="resolv.nameserver.0" value="[% HTML.escape(resolv.nameserver.0) %]" /></li>
				<li><input type="text" name="resolv.nameserver.1" value="[% HTML.escape(resolv.nameserver.1) %]" /></li>
			</ul>
		</div>
	</div>



[% END %]
