.connectorBlock input {

}

.connectorBlock > fieldset {
    width : 70%;
}

#paramTable {
    width : 600px;
}
.inputTable { text-align : left; }
.inputTable td { width : 20em; }


#loading {
    float : right; 
    padding : 1em; 
    display : none; 
}

#connContainer {
    float : left; 
    width : 80%;
}

