
/** searchdaimon default light blue: #e7f3fb */
/** searchdaimon default dark blue: #044a90 */
/** info color : #dce4f9 */

h1, h2, h3, h4 {
	color : #044a90;
	margin-bottom : 0.3em;
}


body {
    font-family : sans-serif;
	color : black;
	background-color : white;
	font-size : small;
}

A:link { color : blue; }
A:visited { color : blue; }
A:active { color : blue; }




#left_menu {
	position : absolute;
	font-family : 'sans-serif';
	width : 20%;
	top : 1em;
}

#left_menu h4 {
	/* background-color : #3779c0;*/
	color : white;
	background-color : #044a90;
}

#left_menu ul {
	margin : 0;
	padding : 0;
	list-style-type: none;
	
}

#left_menu li {
	
	/* border : 1px solid; */
	 /*background-color : #e7f3fb; */
	border-color : #d5e9f7;
	padding : 0.2em;
	margin-bottom : 0.2em;
	font-size : small; 
	/* font-size : x-small; */
	/* font-weight : bold; */
}

#left_menu a {
	color : #333333;
}


/**
 * Default table style
 */
table {
    width : 100%;
    border-collapse : collapse;
    border : 1px solid;
    border-color : silver;
}

table th {
	text-align : left;
	background-color : #f2f2f2;
}

/* row colors */
table .odd { background : #D3DBEF; }
table .selected { 
	background : #4473c4 !important; 
	color : white !important;
}
table .disabled {
	background : #F0F0F0 !important;
	color : gray !important;
}


.info_dashed {
    margin-top : 1em;
    margin-bottom : 1em;
    background-color : #d3dbef;
  }


.indent_form {
    margin-left : 50%;
  }




/**
  * Global classes */

/* Button list */
.button_list li, .vertical_buttons li {
	margin : 0 0.2em 0.2em 0.2em;
}

.button_list {
	list-style-type: none;
	margin : 0;
	padding : 1em;
	float : right; 
	min-width : 100px;

}

.button_list a, .vertical_buttons a {
	color : #333333;
	padding-left : 0.2em;
}

.button_list div {
    border : 1px solid;
    border-color : #FFFFFF;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
    background-color : #E7E7F7;
	font-size : small;
}

.vertical_buttons {
    list-style-type : none;
    margin-left : 0;
    padding-left : 0;
    padding-top : 0.2em;
    margin-top : 0.2em;
    margin-bottom : 0.5em;
}

.vertical_buttons li {
    display : inline;
    background-color : #E7E7F7;
    padding : 0.2em 0.5em 0.2em 0.5em;
    border : 1px solid silver;
}


/* settings blocks */
.block_default {
    width : 100%;
    position : relative;
    min-height : 2em;
  }
.block_default table { 
	border : 0;
}


.block_inner {
    position : absolute;
    left : 30%;
    top : 0px;
  }

.block_resource { width : 25em; }
 

#settings #version_list {
	list-style-type : none;
	margin : 0 0 1em 1em;
	padding : 0;
}

/* Message boxes */
.msgBox table { 
	border : 0;
}

.msgBox {
	padding : 1em; 
	border-top : 1px solid; 
	border-bottom: 1px solid; 
	margin-bottom:1em;
}

.msgBox .msgBoxText {
	font-size : small;
}

.msgBox .icon {
	background : no-repeat;
}
.info { background : #eff2fb; }
.info .icon { background-image : url(file.cgi?size=64x64&amp;i=info); }
.help { background : #dce4f9; }
.help .icon { background-image : url(file.cgi?size=64x64&amp;i=agt_support); }
.error, .warning { 
	background : #fefcea; 
}
.error .icon, .warning .icon { 
	background-image : url(file.cgi?size=64x64&amp;i=error); 
}
.success { background : #d8fbaf; }
.success .icon { background-image : url(file.cgi?size=64x64&amp;i=button_ok) }


.description {
	background-color : #F2F2F2;
	border-left-style : dashed;
	margin-bottom : 1em;
	margin-left : 1em;
	margin-right : 1em;
	margin-top : 1em;
	width : 60%;
	padding-left : 1em;
}

.connector_block {

	background-color : #d3dbef;
	margin-top : 1em; 
	margin-bottom : 1em;
	padding-bottom:1em;
	width : 80%;
}

.connector_block h3 {
	padding-left : 1em;
	background-color : #f2f2f2;
}

.connector_block img {
	float : left;
}

.connector_block .connector_block_inner {
	margin-left : 70px;
	min-height : 60px;
}

.example {
	font-size : x-small; 
	font-style: italic;
}

.checklist_outer {
    max-width : 80%; 
}
    
.checklist_outer, .testrunOuter {
    background : white; 
    border : 1px solid;
}

.checklist_inner { max-height : 12em; }
.testrunInner    { max-height : 30em; font-size : medium; }

.checklist_inner, .testrunInner {
    overflow:auto; 
    min-height : 5em; 
    margin-bottom : 1em;
    /* margin-top : 1em; */
}

.checklist_inner label {
    display : block; 
    padding-left : 1em; 
    padding-right : 1em;
}

.pretty_button {
    border : 1px solid;
    background : #eff2fb;
    border-color : #044a90;
    padding : 0.5em;
    height : 32px;
    /* float : left; */
    width : 20em;
    margin-bottom : 0.5em;
}

.pretty_button img { float : left; }
.pretty_button input, .pretty_submit {
    /* background : #eff2fb; */
    padding : 0.1em;
    margin-left : 0.5em;
    /* color : #111111; */ /* #155697;  */
    /* font-weight : bolder; */
    /* font-size : small; */
    /* width : 15em; */
}
.pretty_button input {
     margin-top : 0.2em; 
}

.textNewLarge {
    margin-bottom : 1em;
    font-size : large;
    font-weight : bolder;
}
.textNewLarge img {
    border : 0px solid;
}

/**
 * Tabs
 * See http://docs.jquery.com/UI/Tabs/Theming for the javascript tabs.
 */

.ui-tabs-nav {
    list-style-type : none;
    padding-left : 0;
    margin-left : 0;
    margin-bottom : 1em;
    border-bottom : 3px solid;
    border-color : #044a90;
}


.ui-tabs-nav li {
    display : inline;
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size : 14px;

}
.ui-tabs-nav li {
    /* margin : 0;  */
}


.ui-tabs-nav li a {
    padding : 0.2em; 
    padding-bottom : 0;
    text-decoration : none;
    background : #d3dbef;
    color : black;
    text-decoration : none; 
    outline : 0; /* prevent firefox dotted frame */
    color : black;
  }

.ui-tabs-selected a {
    background : #044a90 !important;
    color : white !important;
    font-weight : bolder; 
}

.ui-tabs-hide { display : none; }


.defaultForm {
	padding-left : 1em; 
	background : #D3DBEF;
	/* float : left; */
	width : 60%;
	padding : 1em;
	border : 1px solid silver;
}
.defaultForm input { margin-top : 0.2em; }
.defaultForm table { 
	border : 0 
} 
