#apiMsg {
	position : absolute;
	top : -3em;;
	right : 1em;
	color : #333333;
	margin-left : 30em;

}

.userList {
 	position : absolute; 
	width : 20em;
	padding: 0.5em 1em 1em 1em;
}

.userList h4 { padding : 0; margin : 0; }

#primaryList {
	margin-left : -1em;;
}


#loading {
    /*float : right; 
    padding : 1em; */
    display : none; 
}

.loadingImg {
	padding : 1em;
}

.checklist_inner p {
	background : #f2f2f2;
	color : blue;
	cursor : pointer;
	padding : 0.5em;
	border : 1px solid transparent;
	margin : 0.5em;
	text-decoration : underline;
	font-weight : bolder;
}
.checklist_inner p:hover {
	background : #eeeeee !important;
	color : #044a90 !important;
}

.checklist_inner input { 
	/* look into main tpl file
	   for IE specific css */
	display : none;
}
.checklist_inner label {
	border : 1px solid transparent;
}

.checklist_inner label:hover {
	background : #d3dbef;
	border : 1px solid #efefef;
	cursor : pointer;
}
.checklist_inner .selected {
	background : #044a90 !important;
	border : 1px solid #efefef;
	color : white;
	cursor : pointer;
}
