[% BLOCK pretty_button %]
    <div class="pretty_button" style="[% style %]">
        <img src="file.cgi?i=[% icon %]&amp;size=32x32" alt="" />
	[% UNLESS no_form %]
        	<form action="[% action %]" method="[% method || "get" %]">
	[% END %]
        [% IF view %]
            <input type="hidden" name="view" value="[% view %]" />
        [% END %]
        <input type="submit" 
            value="[% text %]"
            name="[% name %]" />
        
	[% UNLESS no_form %]
		</form>
	[% END %]
    </div>
[% END %]



[% BLOCK connector_select
	# Used for selecting collection connector, user system connector
%]
	[% WRAPPER 'template_table.html'
		header = tbl_headers 
	 %]
	 [% SET name = 'name' UNLESS name %]
	[% WRAPPER 'template_table_row.html' color = 1 %]
		<td style="width : 64px;">
			<img src="file.cgi?i=[% icon %]&amp;size=48x48" alt="" style="border : 0px solid;" />
		</td>
		<td>
		[% PROCESS $list_block
			use_radio_buttons = 0
		 %]
		</td>
		<td>
			[%# collection_name = share.collection_name %]
			<input type="text" name="[% prefix %].[% name %]" value="[% $prefix.$name %]" />
				[% IF note %]<span style="font-size : x-small;">[% note %]</span>[% END %]
		</td>	
	[% END %]
	[% END %]
[% END %]


