<div id="left_menu">

	<h4>Collections/Resources</h4>
	<ul>
		<li><img src="file.cgi?size=22x22&amp;i=lists" alt="" /> <a href="overview.cgi">Overview</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=search" alt="" /><a href="scan.cgi">Scan</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=mimetypes" alt="" /><a href="add.cgi">Add</a></li>
	</ul>


	<h4>Users</h4>
	<ul>
		<li><img src="file.cgi?size=22x22&amp;i=kdmconfig" alt="" /> <a href="users.cgi">End Users</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=personal" alt="" /><a href="authentication.cgi">Resource Authentication</a></li>
	</ul>

	<h4>Configuration</h4>
	<ul>	
		<li><img src="file.cgi?size=22x22&amp;i=configure" alt="" /><a href="settings.cgi">Settings</a></li>
		<!--<li><img src="file.cgi?size=22x22&amp;i=hardware" alt="" /> <a href="system.cgi">System</a></li>-->
		<li><img src="file.cgi?size=22x22&amp;i=startup_wizard" alt="" /><a href="setup.cgi">Setup wizard</a></li>
	</ul>

	<h4>System</h4>
	<ul>
		<li><img src="file.cgi?size=22x22&amp;i=hwinfo" alt="" /><a href="system.cgi">System diagnostics</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=agt_update_misc" alt="" /><a href="system.cgi?view=updates">Software updates</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=service_manager" alt="" /><a href="system.cgi?view=services">Manage services</a></li>
		<li><img src="file.cgi?size=22x22&amp;i=log" alt="" /> <a href="logs.cgi">Logs</a></li>
	</ul>

	<h4>Help</h4>
	
	<ul>
		<li><img src="file.cgi?size=22x22&amp;i=remote" alt="" /><a href="help.cgi?action=phone_home">Call home</a></li>
	</ul>

</div>
