[%	# Default template to showing messages.
	# Icon, header and background color depends on the type of message.
	# The different types are: info, help, error, warning and success.
	# Provide type through the variable type.
	
%]
[% background = "#dce4f9" %]
[% IF type == 'info' %]
	[% title = 'Information' %]
	[% background = "#eff2fb" %]
	[% icon = "info" %]
[% ELSIF type == "discreet_info" %]
	[% background = "#dce4f9" %]
	[% discreet = 1 %]
[% ELSIF type == 'help' %]
	[% title = 'Support' %]
	[% background = "#dce4f9" %]
	[% icon = "agt_support" %]
[% ELSIF type == 'error' %]
	[% title = "Ooops!" %]
	[% background = "#fefcea" %]
	[% icon = 'error' %]
[% ELSIF type == 'success' %]
	[% title = "Success!" %]
	[% background = "#d8fbaf" %]
	[% icon = "button_ok" %]

[% ELSIF type == 'warning' %]
	[% title = "Warning" %]
	[% background = "#fefcea" %]
	[% icon = "error" %]
[% END %]



<div class="message_box" style="background: [%background%]; ">

	[% UNLESS discreet %]
		<table>
		<tr>
			<td style="width:70px;">
				<img src="file.cgi?size=64x64&amp;i=[% icon %]" 
						title="[% title %]" alt="[% title %]" /></td>
			<td>
				<div class="mb_text">[% content %]</div>
			</td>
		</tr>

		</table>
	
	[% ELSE %]
		[% content %]
	[% END %]
</div>
