[% 
	# Various connector blocks used to edit collections. This is
	# a helper template for template_edit_collection
%]

[% USE HTML %]

[%# HTML form helpers %]
[% BLOCK cb %]
		<input type="checkbox" name="[% prefix %].[% key %]" [% IF id %]id="[% id %]"[% END %]
			[% IF share.$key %] checked="checked" [% END %] /> 
[% END %]



[% rates = [
	{ 'Every 5 minutes' => '5' },
	{ 'Every 15 minutes' => '15' },
	{ 'Every hour' => '60' },
	{ 'Every 3 hours' => '180' },
	{ 'Every 6 hours' => '360' },
	{ 'Every 12 hours' => '720' },
	{ 'Every day' => '1440' },
	{ 'Every 3 days' => '4320' },
	{ 'Every week' => '10080' },
	{ 'Every 2 weeks' => '20160' },
	{ 'Every 4 weeks' => '40320' },
] %]
			
[% prefix = "share" UNLESS prefix %]
[% optional = BLOCK %]<span style="font-size : x-small;">(Optional)</span>[% END %] 

[% BLOCK active %]
	<div class="block_default">Active:
		<div class="block_inner">
		<input type="radio" name="[% prefix %].active" value="1"
			[% IF share.active or !share.active.defined %] checked="checked" [% END %] /> Yes
		<input type="radio" name="[% prefix %].active" value="0"
			[% IF share.active.defined
				and !share.active %] 
				checked="checked" [% END %] /> No
		
	</div></div>
[% END %]

[% BLOCK schedule %]
	<div class="block_default">Schedule:
		<div class="block_inner">
		You may setup at witch time crawling is performed <a href="settings.cgi?view=collection_manager">her</a>.
	</div></div>
[% END %]

[% BLOCK collection %]
	<div class="block_default">Collection name:
		<div class="block_inner">
			<input type="text" value="[% share.collection_name %]" 
				name="[% prefix %].collection_name" />
	
		</div>
	</div>
[% END %]

[% BLOCK authentication %]

	[% IF authentication.size %]
		<h4>Use stored authentication</h4>
		<div style="margin-left : 1em;">
		<select name="[% prefix %].auth_id" id="authSelect">
			<option value="new_values">(New values - input below)</option>
			[% FOREACH auth IN authentication %]
				<option value="[% auth.id %]"
					[% "selected=\"selected\"" IF share.auth_id == auth.id %]
					>[% auth.username %] [% IF auth.comment.defined %]- [% auth.comment %][% END %]</option>
			[% END %]
		</select>
		</div>
		<h4>Use new authentication values</h4>
	[% END %]
	<div style="margin-left : 1em;">
	
	<div class="block_default">
		Username:
	
		<div class="block_inner">
			<input type="text" name="[% prefix %].username" id="authNewInput"
			[% UNLESS share.auth_id %] value="[% share.username %]" [% END %] />
		</div>
	</div>
		
	<div class="block_default" style="margin-top : 0.5em;">
		Password:
		<div class="block_inner">
			<input type="password" name="[% prefix %].password" 
			[% UNLESS share.auth_id %] value="[% share.password %]"[% END %] />
		</div>
	</div>

	<p><em>Leave authentication values blank if no authentication is required.</em></p>
		

	</div>
[% END %]

[% BLOCK groups %]

[% IF group_list.size %]
	<div class="block_default">
		Group access:
		<div style="block_inner" >
			<div class="checklist_outer">
			<div class="checklist_inner">
			[% i = 0 %]
			[% FOREACH group IN group_list %]				
				<label for="group[% i %]">
					
				<input name="share.groups[[% i %]]" type="checkbox" id="group[% i %]"
						value="[% group %]"
						[% IF share.groups.grep("^$group$").0 %]
							[%# Check if share is a member of this group %]
							checked="checked"
						[% END %]
						 /> [% group %]
						
				</label>

				[% i = i + 1 %]
			[% END %]
			</div></div>
		</div></div>


[% ELSE %]
	<p>
		Error: Couldn't find any groups.
	</p>

[% END %]
[% END %]


[% BLOCK user_system %]
	<div class="block_default" style="padding-top : 0.5em;">

	[% IF user_systems.size > 0 %]
		Choose user system
		<div class="block_inner" style="padding-top : 0.5em;">
	
		<select name="[% prefix %].system">
		[% FOREACH u IN user_systems %]
			<option value="[% u.id %]"
				[% 'selected = "selected"' IF u.id == share.system %] 
				 >[% u.name | html %]
				 [% ' (primary)' IF u.is_primary %]
			</option>
		[% END %]
		</select>
		</div>
	
		<p>You can also <a href="usersys.cgi">add a new user system</a>.</p>
	[% ELSE %]
		<p>To enable access managment you must <a href="usersys.cgi">add a user system</a>.</p>
	[% END %]

	</div>
[% END %]

[% BLOCK connectors %]

		[% IF use_radio_buttons 
			and connectors.size < 10 %]
			[% FOREACH connectors %]
			[% i = i + 1 %]
			<input type="radio" value="[% id %]" name="[% prefix %].connector"
				id = "choose_connector[[% i %]]"
				[% IF id == share.connector %] 
					checked="checked" 
				[% END %] 
				[% IF lock_connector %] readonly="readonly" [% END %]> 
				<label for="choose_connector[[% i %]]">[% name %]</label><br />
			[% END %]
		
		[% ELSE %]
		<select name="[% prefix %].connector">
			[% FOREACH connectors %]
			<option value="[% id %]"
				[% IF id == share.connector %] 
					selected="selected" 
				[% END %] >[% name %]</option>
			[% END %]
		</select>
		[% END %]
[% END %]

[% BLOCK rate %]
	<div class="block_default">
	Recrawl every:
	<div class="block_inner">
		<select name="[% prefix %].rate">
		<option value=""
		[% UNLESS share.rate %] selected="selected" [% END %]>
			(Default rate)</option>
	[% FOREACH r IN rates %]
		[% text = r.keys.0 %]
		[% minutes = r.values.0 %]
		<option value="[% minutes %]" 
			[% IF share.rate == minutes %] 
				selected="selected"
			[% END %]>[% text %]</option>
	[% END %]
		</select>
	</div>
	
	</div>
	
[% END %]

[% BLOCK advanced %]
	<div class="block_default">
	Full crawl: 
	<div class="block_inner" >
		
		<input type="hidden" name="id" value="[% id %]" />
		<input type="hidden" name="action" value="recrawl" />
		<input type="submit" value="Force full crawl now" />

		
	</div>
	</div>
[% END %]

[% BLOCK test_crawl %]
	<p style="font-size : x-small;">
		For crawling a limited number of documents. The crawled<br />
		documents will be added to index, thus searchable.
	</p>
	<div class="block_default">
	Documents to crawl:
		<div class="block_inner" >
			<input type="text" name="num_docs" value="[% num_docs || 100 %]" /> 
		</div>
	</div>
	<div class="block_default">&nbsp;
		<div class="block_inner" >

		<input type="hidden" name="id" value="[% id %]" />
		<input type="hidden" name="action" value="test_crawl" />
		<input type="submit" value="Start test crawl" />
		
		</div>
	</div>
[% END %]


[% USE Dumper %]
[% BLOCK user_prefix %]
	

	<div class="block_default">
		User prefix:
	

	<div class="block_inner" >
		<input type="text" name="[% prefix %].userprefix" 
			value="[% $prefix.userprefix %]" 
			id="prefixInput" />[% optional %]
		<br /><span class="example">Example: WIN-EXAMPLE-COM\</span>
	</div>
	</div>
[% END %]

[% BLOCK user_select %]
    <div class="block_default">
	<div style="block_inner" >
	<div class="checklist_outer">
	<div class="checklist_inner" id="userList" style="max-height : 500px;">
	[% i = 0 %]
	[% FOREACH user IN user_list %]				

             [% SET regex_user = user.escape %]
	     [% # remove SID
	     	SET display_user = user.remove(':S(-\d+)+$') %]
           <label for="user[% i %]">
					

		<input name="share.users[[% i %]]" type="checkbox" id="user[% i %]"
		    [% IF share.users.grep("^$regex_user$").0 %]
                        checked="checked"
                    [% END %]
					value="[% HTML.escape(user) %]"
		/> [% HTML.escape(display_user) %]
						
	    </label>
	    [% i = i + 1 %]
	[% END %]
	</div></div>
        <a href="javascript:void" onclick="set_checked('user', true)">select all</a> &nbsp;
        <a href="javascript:void" onclick="set_checked('user', false)">unselect all</a>
        </div>
    </div>
[% END %]

[% BLOCK parameters %]
    [% IF parameters.size %]
        [% FOREACH p IN parameters %]
        <div class="block_default" style="margin-top : 0.5em;">
            [% SET param = p.param %]
            [% HTML.escape(param) %]
            <div class="block_inner">
                <input type="text" name="share.params.[% HTML.escape(param) %]"
                    value="[% HTML.escape(share.params.$param) %]" />
                [% IF p.example %]
                    <span class="example">Example: [% p.example %]</span>
                [% END %]
            </div>
        </div>
        [% END %]
    [% ELSE %]
        No custom parameter defined.
    [% END %]
[% END %]

[% BLOCK customize_summary %]
	<div class="block_default">
		<label for="sSnippet">
		<input type="radio" name="[% prefix %].summary" value="snippet" id="sSnippet"
			[% IF share.summary == "snippet" %] checked="checked" [% END %] /> 
			Generate snippet</label>
		<label for="sStart">
		<input type="radio" name="[% prefix %].summary" value="start" id="sStart"
			[% IF share.summary == "start" %] checked="checked" [% END %] />
			First sentence in the document
		</label>
	</div>
[% END %]

[% BLOCK customize_cache %]
	<div class="block_default">
		<label for="sCache">
		<input type="checkbox" name="[% prefix %].cache_link" id="sCache"
			[% IF share.cache_link %] checked="checked" [% END %] />
			Show cache link</label>
	</div>
[% END %]


[% BLOCK customize_filters %]
	<div class="block_default">
	<table><tr>
		<td><label for="fSameUrl">Filter documents with same url?</label></td>
		<td>[% PROCESS cb key = "filter_same_url" id="fSameUrl" %]</td>
		</tr>

		<tr>
		<td><label for="fSameDomain">Filter documents on same domain?</label></td>
		<td>[% PROCESS cb key = "filter_same_domain" id="fSameDomain" %]</td>
		</tr>

		<tr>
		<td><label for="fSameTLD">Filter top level domains?</label></td>
		<td>[% PROCESS cb key = "filter_TLDs" id="fSameTLD" %]</td>
		</tr>

		<tr>
		<td><label for="fResponse">Filter response?</label></td>
		<td>[% PROCESS cb key = "filter_response" id="fResponse" %]</td>
		</tr>

		<tr>
		<td><label for="fDuplicates">Filter duplicates?</label></td>
		<td>[% PROCESS cb key = "filter_same_crc32" id="fDuplicates" %]</td>

	</tr></table>
	</div>
[% END %]

[% BLOCK txt %]
	<input type="text" name="[% prefix %].[% key %]" value="[% share.$key %]" style="[% style %]" />
[% END %]


[% BLOCK customize_ranking %]
<div class="block_default">
	[% WRAPPER 'template_message.html' type="info" discreet=1 style="float : left;" id=""%]
		Leave fields blank to reset to default values.
	[% END %]
	<table style="clear : left;">
	<tr>
		<td>Author score</td>
		<td>[% PROCESS txt key = "rank_author_array" %]
			<span class="example">(Multiple values. Example: 1, 2)</span>
		</td>
	</tr>
	<tr>
		<td>Title score</td>
		<td>[% PROCESS txt key = "rank_title_array" %]
			<span class="example">(Multiple values. Example: 15, 14)</span>
		</td>
	</tr>

	<tr>
		<td>First word of title</td>
		<td>[% PROCESS txt key = "rank_title_first_word" style="width : 2em;" %]
			<span class="example">(Single values. Example: 25)</span></td>
	</tr>

	<tr>
		<td>Headers score</td>
		<td>
			[% PROCESS txt key="rank_headline_array" style="" %]
			<span class="example">(Multiple values. Example: 4, 6, 7, 8)</span>
		</td>
	</tr>

	<tr>
		<td>Content score</td>
		<td>[% PROCESS txt key = "rank_body_array"  %]
			<span class="example">(Multiple values. Example: 1,2,4,7,9)</span>
		</td>
	</tr>

	<tr>
		<td>URL score</td>
		<td>[% PROCESS txt key = "rank_url_array" %]
			<span class="example">(Multiple values. Example: 5, 4)</span>
		</td>
	</tr>

	<tr>
		<td>Linked to word</td>
		<td>[% PROCESS txt key = "rank_url_main_word" style="width : 2em;" %]
			<span class="example">(Single value. Example: 30)</span>
		</td>
	</tr>
	</table>
	
        <div style="margin-top : 1em; width : 50%; font-size : smaller; font-style : italic;"><p>Larger values give higher ranking.</p><p style="margin-top : 1em;">For fields with multiple values, for example content score: First value is used if document has one hit on content, second value is used if the document has two hits &mdash; and so on.</p></div>


</div>


[% END %]

[% BLOCK accesslevel %]
	<div class="block_default">
			[% FOREACH level IN levels %] 
			<div> 
				<input type="radio" name="share.accesslevel" value="[% level.value %]" 
					[% IF level.checked %] checked="checked"[% END %] /> 
				[% HTML.escape(level.string) %] 

				[% IF level.value == 'group' %] 
				<select name="share.accessgroup"> 
				[% FOREACH group IN groups %] 
				<option value="[% HTML.escape(group) %]" 
					[% IF group == share.accessgroup %] selected="selected"[% END %]
				> 
				[% HTML.escape(group) %] 
				</option> 
				[% END %] 
				</select> 
				[% END %] 

				<p style="font-size : x-small;">
				[% HTML.escape(level.description) %] 
				</p>
			</div> 
			[% END %] 
	</div>
[% END %]

[% BLOCK alias %]
	<div class="block_default">
	Share alias:
		<div class="block_inner" >
			<input type="text" name="[% prefix %].alias" value="[% share.alias %]" />
		</div>
	</div>
[% END %]

