[% PROCESS 'template_connector_blocks.html' %]
[% PROCESS 'template_edit_blocks.html' %]
[% USE HTML %]

[% 
    field_list = {
        collection => {
            header => 'Collection',
            blocks => ['collection'],
            icon => 'mimetypes'
        },
        authentication => {
            header => 'Authentication',
            blocks => ['authentication'],
            icon => 'personal',
        },
        groups => {
            header => 'Groups',
            blocks => ['groups'],
            icon => 'kdmconfig',
        },
        connector => {
            header => 'What to crawl',
            blocks => [share.connector_name],
            icon   => 'yast_nfs_32',
        },
	alias => {
		header	=> 'Share alias',
		blocks	=> ['alias'],
		icon	=> '3d',
	},
	accesslevel => {
		header	=> 'Accesslevel',
		blocks	=> ['accesslevel'],
		icon	=> 'share',
	},
        crawling => {
            header => 'Crawling behaviour',
            blocks => ['active', 'rate'],
            icon   => 'configure'
        },
        advanced => {
            header => 'Advanced management',
            blocks => ['advanced'],
            icon   => 'configure'
        },
        exchange_user_select => {
            header => 'Users to index',
            blocks => ['user_select'],
            icon   => 'kdmconfig'
        },
        user_prefix => {
            header => 'User prefix',
	    blocks = ['user_prefix'],
	    icon = 'xedit'
        },
	user_system => {
		header = "User system"
		blocks = ['user_system'],
		icon = 'agt_family',
	},
		custom_parameters => {
			header => "Custom parameters",
			blocks => ['parameters'],
			icon   => 'kdmconfig',
		},
		customize_summary => {
			header => 'Summary',
			blocks => ['customize_summary'],
			icon   => 'contents',
		},
		customize_cache => {
			header => 'Cache',
			blocks => ['customize_cache'],
			icon => 'cache',
		},
		customize_filters => {
			header => 'Filters',
			blocks => ['customize_filters'],
			icon   => 'filter',
		},
		customize_ranking => {
			header => 'Ranking',
			blocks => ['customize_ranking'],
			icon   => 'sort_az',
		},

	test_crawl => {
		header => 'Test crawl',
		blocks => ['test_crawl'],
		icon => 'kdmconfig'
	}
    }
%]

[% IF fields %]
    [% FOREACH field IN fields %]
        [% TRY %]
            [% PROCESS sub_fields
                header = field_list.$field.header
                blocks = field_list.$field.blocks
                icon   = field_list.$field.icon
            %]
        [% CATCH %]

            <span style="color : red;">
                Error: Unable to show field '[% HTML.escape(field) %]' &mdash; [% HTML.escape(error.info) %]
            </span>
            [% STOP %]
        [% END %]
    [% END %]
[% END %]


[% BLOCK sub_fields %]
<div class="connector_block">
	<h3>[% header %]</h3>
	<img src="file.cgi?i=[% icon %]" alt="" style="margin-left : 0.5em; margin-top : 0.5em;" />
	<div class="connector_block_inner">
	
	[% FOREACH b IN blocks %]
		[% PROCESS $b
			prefix = 'share'
			share = share %]
	[% END %]

	</div>
</div>
[% END %]
